[2017-10-09 18:02] postrational opened #1 "Graph inputs vs value_info"
I'm looking at some of the models gathered in this repository (SqueezeNet, DenseNet-121, ResNet-50) and I noticed a pattern.

All parameters of the graph are specified as `input` fields and none as `value_info` fields. This mixes model inputs and trainable parameters into a single set and I'm not sure how to distinguish between them.

Separating model inputs and trainable variables may be useful f

[2017-10-09 18:43] bddppq commented on #1
The Graph has a separated field `initializer` for storing all the parameters (both name and value), `input` is the type & shape information of the union of parameters and model input. We decided to go this way because if someday ONNX adds support for doing training, we can simply drop the `initializer` and still have the network structure well preserved. `value_info` is an optional field used for

[2017-10-09 19:05] postrational commented on #1
Wouldn't it make sense to use `initializer` values also for parameters listed in `value_info` fields?

When importing the models as they stand today, would you suggest to treat all input fields as `Variable` type tensors? Or perhaps we should distinguish input `placeholders` by the fact that they don't have an associated `initializer`?

[2017-10-09 19:16] bddppq commented on #1
I think they are different. `initializer` stores the values of the parameters, which are the external facing nodes, while in `value_info` it's just type and shape (of inner-nodes). `value_info` is mostly for tooling, type/shape inference for doing optimization.

They should be distinguished, (as you said) by checking whether its name appeared in the initializer.

[2017-10-09 23:59] linkerzhang opened #2 "Same node output name in densenet121"
In the net, it has two nodes with same output (the name is not unique, check below). This is not a valid model, right?
 node {
    input: "conv1"
    input: "conv1/bn_scale"
    input: "conv1/bn_bias"
    input: "conv1/bn_mean"
    input: "conv1/bn_var"
    output: "conv1/bn"
    name: ""
    op_type: "SpatialBN"
    attribute {
      name: "is_test"
      i: 1
    }
    attribute {
      name: "e

[2017-10-10 03:20] bddppq commented on #2
It's valid, there can be multiple ops writing to the same output tensor. Latter op just overwrites the value written by the former ones.

[2017-10-11 00:46] linkerzhang commented on #2
so we're assuming that all nodes in a model file are in topological order? feel like keep all names unique may be a better way so that nodes could hook up with each other with names. Thoughts?

[2017-10-11 01:52] bddppq commented on #2
Nodes in a graph are topological sorted. Could you elaborate how unique name is better regarding to connecting nodes in a graph?
Reusing names (which implies reusing tensors/blobs) is more memory efficient.

[2017-10-11 05:19] linkerzhang commented on #2
Thank you for confirmation!
In my opinion, reusing tensors/blobs belongs to optimization layer if modularizing the stack. It should be transparent to the graph representation layer (Model protobuf and its c++ representation). Bundling optimization stuff in this layer is enforcing upper layer (different runtimes) doing things same way, which may not be the scope of an open standard..
In another sce

[2017-10-11 05:47] bddppq commented on #2
Sounds to me "enforcing unique name" is the one that makes everyone doing thing the same way (it adds requirement to the models emitted by the frontends).

Forcing unique names means:
 - Frontends need to make sure the names are unique, they need to create additional dummy input/output tensors to achieve this
 - Backends need to reverse engineer the tensor references to achieve the optimization

T

[2017-10-11 22:55] yuanbyu commented on #2
For inference, I would consider that ONNX is just an SSA representation of pure functional computation. So it seems to me a good idea to require that the names be unique at this level of abstraction. If the names are not unique, we have to make sure that a model always produces the same result regardless of the execution order of the nodes.  Also, if the names are not unique, can the graph be cycl

[2017-10-11 23:00] gramalingam commented on #2
I also think having unique names is a better choice. Otherwise, we need to make assumptions such as the that the list of nodes is sorted (in execution order), which introduces artificial needless execution ordering constraints. Or, we need to introduce extra "dependence" edges between nodes with same output-name, etc.

[2017-10-14 04:12] linkerzhang commented on #2
Thank you all for the follow-up discussions! I noticed that the updated densenet121 does not have duplicate node output names n, so, we have the agreement that all node output names should be unique, and I'm closing this issue now.

[2017-10-14 04:12] #2 closed

[2017-10-14 04:35] bddppq commented on #2
Yep, sorry I forgot to update here. As you have found out, all the models have been regenerated with unique output names.

[2017-10-15 21:10] prasanthpul commented on #2
@bddppq Is the requirement that output nodes be named uniquely documented somewhere? in onnx.proto ideally

[2017-10-24 17:44] ggjjj opened #4 "AttributeError: 'NoneType' object has no attribute 'run'"
I got this sample code from https://github.com/onnx/models  and wanted to see it running with ONNX model. I took resnet50 as example and the following error.

import numpy as np
import onnx
import caffe2
from onnx.backend.base import Backend

model_path = '/home/onnx/Downloads/resnet50/model.pb'
npz_path = '/home/onnx/Downloads/resnet50/test_data_0.npz'
model = onnx.load(model_path)
sample = np.lo

[2017-10-24 18:11] bddppq commented on #4
This is a known bug that has been fixed recently 805a96. Please clone the onnx source code from github and install from it.

[2017-10-24 20:30] gjeganmo commented on #4
Question 1: Can ONNX by itself run models without caffe2/pytorch? If yes how?
Question 2: What version/tag of Pytorch or Caffe2 will work with onnx/onnx@805a96a?

[2017-10-31 18:37] tjingrant opened #5 "About AlexNet MaxPooling"
Hi, is it a mistake that the last maxpooling layer of alex net has padding [0, 0, 1, 1]? This node has output named "pool5_1". Changing it to [1, 1, 1, 1] gives correct shape as well as correct results for us.

[2017-10-31 19:28] tjingrant commented on #5
I thought all intermediate tensors of alexnet should have their height equal to the width and therefore this padding seems incorrect to me.

[2017-11-01 01:56] tjingrant commented on #5
ping @bddppq

[2017-11-02 22:29] tjingrant commented on #5
Closing as it seems to be our side of the problem.

[2017-11-02 22:29] #5 closed

[2017-12-08 19:46] lutzroeder opened #6 "Update to .onnx file extension and flat folder structure"
Should the models get updated to use the `.onnx` file extension?

Also wondering, should the `.tar.gz` files be linked directly from the top-level `README.md` and the files named `bvlc_alexnet.onnx`, `inception_v2.onnx` etc instead of `model.db`?

[2017-12-11 08:15] huningxin opened #7 "Question about the shape of bvlc_alexnet model input 'data_0'"
The shape of input `data_0` of [onnx bvlc_alexnet model](https://github.com/onnx/models/tree/master/bvlc_alexnet) is `[1, 3, 224, 224]`.

According to http://cs231n.github.io/convolutional-networks/, this causes the Conv node's output `conv1_1` shape to be non-integer.

I'd like to understand why `data_0` is not `[1, 3, 227, 227]` which is used in other models, like [caffe2 bvlc_alexnet model](htt

[2017-12-19 16:47] Rizhiy opened #8 "Inconsistent Shape"

[2017-12-19 21:36] prasanthpul commented on #6
Using .onnx makes sense to me.
I believe the files are named model and put in different subfolders to simplify automated testing.
@bddppq to comment too

[2017-12-20 12:33] #8 closed

[2017-12-22 08:12] BruceDai opened #9 "ValidationError “Field 'type' of attr is required but missing.” happened when invoking check_node function."
I'm green to DeepLearning, and I want to see the output of each node of Alex net by run_node function, but I met the following error.
[code]

[code]

I tried to add 'type' of attr by following codes
[code]

[code]
, still got the same error.

[2017-12-25 02:04] rillomas opened #10 "Sample Code on README.md not working"
I tried running the sample code on README.md and got the following error.

[code]

I believe the sample is based on old code.

[2017-12-26 01:18] BruceDai commented on #10
@rillomas , this code is just for example, you should firstly install Caffe2/Tensorflow as ONNX backend, also install onnx-caffe2/onnx-tensorflow, then you can use this code to replace the sample code

or

[2017-12-26 01:45] rillomas commented on #10
@BruceDai It worked! Thank you!

[2017-12-26 01:45] #10 closed

[2018-01-09 15:39] LucasMahieu opened #11 "Bug in inception_v1 model ?"
Hi,

I have a question about the onnx model *inception_v1*.

The last AveragePool node have the following proto :

input: "inception_5b/output_1"
output: "pool5/7x7_s1_1"
name: ""
op_type: "AveragePool"
attribute {
  name: "strides"
  ints: 1
  ints: 1
  type: INTS
}
attribute {
  name: "pads"
  ints: 0
  ints: 0
  ints: 1
  ints: 1
  type: INTS
}
attribute {
  name: "kernel_shape"
  ints: 7
  int

[2018-01-10 08:31] LucasMahieu commented on #5
Hi,
I have also problems with this network, did you find a solution ?
If you can take a look at : https://github.com/onnx/models/issues/11

[2018-01-11 15:48] LucasMahieu opened #12 "Axis attribute of concat is missing for densnet121 and inception_v2"
Hi,

I think the axis attribute is missing into the 16th node of the onnx model [densenet121](https://github.com/onnx/models/tree/master/densenet121).

It is the same for inception_v2 for the 53th node, axis is not provided for the concat node.

According to the doc, the attr axis is *required* for the concat node.

How is it possible that the model is use as test suite of onnx with this kind of b

[2018-01-11 16:03] LucasMahieu commented on #12
It seems that I got the last version of the networks...
And due to the fact this git repo only contains link, changes to these models are not shown.

[2018-01-11 16:03] #12 closed

[2018-01-18 01:00] Roshrini opened #13 "BatchNormalization parameter "consumed_inputs""
`resnet` model provides following attributes for BatchNormalization operator:
{u'is_test': 1L, u'epsilon': 1.0000000656873453e-05, u'consumed_inputs': (0L, 0L, 0L, 1L, 1L)})

Can someone explain what is `consumed_inputs`? I couldn't find it's explanation in [onnx documentation about BatchNormalization operator](https://github.com/onnx/onnx/blob/master/docs/Operators.md#BatchNormalization).
@bddppq

[2018-01-22 06:08] BruceDai commented on #9
@bddppq would you please show me how to add this 'type' attribute, thanks.

[2018-01-22 08:30] bddppq commented on #9
"type" is a field in AttributeProto, so it should be (e.g.)
[code]

Actually the `type` field is only required to be present in models with `ir_version >= 0x00000002`. Looks like the model files in the model zoo are still of version 1 and so it's ok to not have this field. However, checker will need to know this context in order to perform the correct check (there is an optional argument in `check

[2018-01-22 08:31] bddppq opened #14 "Update models to the newest ir_version"
1. And automate the process in onnx-caffe2.
2. Update the file extension from `.pb` to `.onnx` (note this requires adding versioning mechanism to keep backward compatibility).

[2018-01-22 08:33] bddppq commented on #14
@anderspapitto Could you take this?

https://github.com/onnx/onnx/pull/390

[2018-01-22 08:34] bddppq commented on #9
https://github.com/onnx/models/issues/14

[2018-01-22 08:59] barak-hurwitz opened #15 "Source of the models"
Hi,

Where can i find the model source (in original framework) used to create the ONNX model?
For Resnet50 ONNX model:
what PreProcessing need to be done on the images before i can feed them as input to the network as NPZ files. (PreProceesing on Image that we get from LMDB or BMP with values 0-255)

Thx,
Barak

[2018-01-22 09:01] BruceDai commented on #9
@bddppq thank you!

[2018-01-22 09:01] #9 closed

[2018-01-22 18:57] houseroad commented on #13
It's a hint for in-place operator. It is not recorded in the official docs yet.

[2018-01-22 19:03] dzhulgakov commented on #6
I have slight preference for .onnx too (as it's easier to distinguish which format the .pb is in). Shall we go for it?

[2018-01-22 19:54] bddppq commented on #6
Two reasons for why I'm a little bit hesitated to change the file extension:

1. It confuses users. With the .pb suffix users immediately know the models files are in fact protobuf files, all pb libs/tools are automatically usable.
2. This second reason does not only apply to changing the suffix but in general to changing the model file name. We hardcoded this in couple places, including the ONNX

[2018-01-23 01:07] prasanthpul commented on #6
My thoughts:
1) I feel it's more important for user to know it is a ONNX file and thus can be used by various ONNX-compatible tools/libraries than to know it is protobuf. The only hesitation I can see is if we think we will move to a multi-file format soon and .onnx will be used for the container, i.e. zip file.
2) This is a valid concern but we should implement versioning on the models. Old versi

[2018-01-23 07:24] lutzroeder commented on #6
Agree, `.onnx` is the way to go.

For example, an app like Netron supports loading ONNX and TensorFlow models and both use `.pb`. There is no way telling which format a file contains other than crossing fingers that the `decode()` will crash gracefully. Also, the app registers both file extension with the shell and all ONNX `.pb` files now show as `TensorFlow Model` in Explorer or Finder. Not a gr

[2018-01-23 09:46] gramalingam commented on #6
I agree, .onnx is better than .pb

[2018-01-23 21:56] bddppq commented on #6
Alright majority rules :-) Updated the corresponding issue #14

[2018-02-14 11:38] kumardesappan opened #17 "Is there a onnx object detection model available?"
Hi,
Is there a  pre-trained onnx object detection model available for reference (SSD, Faster-RCNN, RetinaNet or Mask RCNN)?

Thanks and Regards,
Kumar.D

[2018-02-21 05:19] houseroad commented on #17
We are working on this. To import these models to ONNX model zoo, we may need to introduce some new ops into ONNX spec.

[2018-02-21 05:20] houseroad commented on #15
Right now, all the models are converted from Caffe2 model zoo.
https://github.com/caffe2/models

We are expending the model zoo, e.g., some models from PyTorch will be added.

[2018-02-21 05:48] houseroad commented on #6
Fixed here: https://github.com/onnx/onnx/pull/541

[2018-02-21 05:48] #6 closed

[2018-02-21 05:48] houseroad commented on #14
We have updated the models.

[2018-02-21 05:48] #14 closed

[2018-02-21 06:41] kumardesappan commented on #17
@houseroad Thanks for the update. Do you have any tentative timeline for this?

[2018-02-21 19:15] houseroad commented on #17
Our plan is to add these models in 2~3 weeks.

[2018-02-21 19:16] prasanthpul commented on #17
@houseroad Can you share list of models you plan to add?

[2018-02-21 19:32] houseroad commented on #17
Our plan is to convert the models from https://github.com/caffe2/models.

bvlc_googlenet, bvlc_reference_caffenet, bvlc_reference_rcnn_ilsvrc13, finetune_flickr_style will be converted.

And many models in sytle_transfer and detectron (Faster-RCNN included) folders are also in our plan.

[2018-03-07 16:13] zakk0610 commented on #1
Hi,
I think this is potential bug for doing optimization. Because the `value_info` fields are none, user could not get the dimension of output value in the node on ONNX IR. (generated by graphProtoToGraph).

[code]

[code]

or this is my misunderstanding?
Thanks

[2018-03-07 18:56] mx-iao commented on #15
Hi @barak-hurwitz , we will be adding some additional information to the READMEs of each model, including source code and information on the input data expected, in the upcoming weeks.

[2018-03-08 06:33] barak-hurwitz commented on #15
Thanks,
Currently i assumed for Resnet50 that the range is -5=>5 (Based on the NPZ input min/max), so i did the scale and shift per channel and it worked when i converted BMP to the NPZ file.

[2018-03-13 05:53] 0wu commented on #17
Is there a ticket where we can peek the new Ops for detection?

[2018-03-13 18:12] ThomasDelteil opened #23 "Are these models pre-trained?"
Are these models pre-trained or randomly initialized?

[2018-03-13 19:01] ThomasDelteil opened #24 "Inception v2 loaded through onnx-mxnet gives different output than samples"
Cross referencing here:
https://github.com/onnx/onnx-mxnet/issues/42

Any idea if I am doing something wrong or data might be wrong?

[2018-03-14 01:09] ThomasDelteil opened #25 "There is no test data for squeeze net"
There is only three folders with .pb files. It would be nice to have a .npz file as well.

[2018-03-14 17:07] ThomasDelteil commented on #23
@houseroad what data format are the model expecting? (Nx3x224x224) ? The sample input are [-5,5] floats ?

[2018-03-14 17:14] houseroad commented on #25
Actually, we support two types of test data, npz or proto, I will add the detailed explanation in README.md.

[2018-03-14 18:59] houseroad commented on #23
Right now, the sample inputs are generate as 1x3x224x224 with value between [0, 1). We will tune the input data, and provide more information about the preprocessing.

[2018-03-14 19:59] houseroad commented on #17
Will send the PR including BBoxTransform, BoxWithNMSLimit, and GenerateProposals which are need by Faster-RCNN soon.

[2018-03-16 00:17] houseroad opened #26 "Update the model zoo to remove consumed_input"
To address the schema changes.

[2018-03-19 18:37] mx-iao opened #27 "Proposed template for onnx models readme"
Hi ONNX team, I'm working with @prasanthpul to standardize on a README template for the models in the zoo. Please let me know your thoughts. See [here](https://github.com/onnx/models/tree/master/mnist) for the MNIST model for reference.

# Model name
Download: link to model download
Model size: x MB
## Description
Description of what the model does
### Paper
Name and link to the paper that the mod

[2018-03-23 07:43] SimiPro opened #28 "Caffe2 backend can't run resnet/mnist"
The caffe2 backend can't run resnet/mnist it fails.

resnet:
RuntimeError: [enforce fail at conv_op_impl.h:37] X.ndim() == filter.ndim(). 5 vs 4 Error from operator:
input: "gpu_0/data_0" input: "gpu_0/conv1_w_0" output: "gpu_0/conv1_1" name: "" type: "Conv"

mnist:
RuntimeError: [enforce fail at reshape_op.h:120] total_size == size. 64 vs 256. Argument `shape` does not agree with the input data.

[2018-03-23 08:17] #28 closed

[2018-03-26 20:28] michaelschwier commented on #25
Any updates on this? I still only find explanations about using npz test data [here].(https://github.com/onnx/models)

[2018-03-26 20:36] michaelschwier commented on #27
This would be massively helpful. Especially a precise specification of the input (incl. preprocessing) and output.

[2018-03-26 22:52] michaelschwier commented on #27
Hi @mx-iao,
Yes, that is a good example. I would say it is really important to have a precise definitions of input (incl. preprocessing) and output format for all models in the zoo, to make them easily reusable.

My current issue - and why I would be happy to have such a definition for all models: I am working with the squeezenet from this repo. I got an older version of it running and now updated

[2018-03-27 00:01] mx-iao commented on #27
Thanks for your feedback @michaelschwier. Once we standardize on a README template we will go back and update all the models that are missing this information.

[2018-03-27 13:58] michaelschwier commented on #27
Sounds great thx.
Is there anyone who can give me details about the squeezenet in the meantime?

[2018-03-28 00:15] houseroad commented on #26
It's already removed...

[2018-03-28 00:15] #26 closed

[2018-03-28 00:30] houseroad commented on #27
This is great!

Here are some additional field we should provide:
1) unique name of the model
2) model source (where the model is converted/exported, maybe provide the original model link?)
3) input/output shape/type information

[2018-03-28 00:32] houseroad commented on #27
For the model itself, we may need to provide multiple versions.

[2018-03-28 21:17] houseroad commented on #23
@ThomasDelteil the models are pretrained, but the input data used for test is randomly generated.

[2018-03-29 10:47] teichgraf commented on #17
Any update on this like an ETA? :)

[2018-03-29 23:28] houseroad commented on #13
We have removed all the consumed_inputs already.

[2018-03-29 23:28] #13 closed

[2018-03-30 00:36] houseroad commented on #25
https://github.com/onnx/models/pull/29, I have added the description here.

[2018-03-30 04:16] houseroad commented on #25
The description is already included in the README.md

[2018-03-30 04:16] #25 closed

[2018-03-30 08:40] postrational commented on #27
You should also provide a md5 checksum or some other way of telling if the model I have on my disk is current. This is especially true of models which only exist as links to S3 or another location which is not under version control.

[2018-03-31 16:48] #23 closed

[2018-04-03 09:29] vzamboni opened #30 "Vgg16 onnx file is not a Vgg16"
Vgg16 should be like described [here](https://arxiv.org/pdf/1409.1556.pdf), composed of 16 layers with weigths. The model loaded is composed of 5 Conv and 3 Gemm.

[2018-04-03 17:55] snnn opened #31 "No PB format test data for resnet50 and shufflenet?"
There are only some npz files.

[2018-04-04 03:45] houseroad commented on #31
I am working on polishing the test data for these models. :-)

[2018-04-07 09:03] nihui opened #33 "shufflenet test data seems to be mistaken"
hello

recently, I've been playing onnx models with ncnn converter.
I found that all the models in this repo can be processed using the bundled test data without errors, except the shufflenet model, which always produces different result with the desired test output.

And, I found that the three test data in shufflenet model archive are identical with each other.

test_data_0.npy
test_data_1.npy
t

[2018-04-09 17:16] houseroad commented on #4
Q2: Our run_model function design is pretty stable. It should work with the current master branch of pytorch and caffe2. Please let me know if you have any question about it.

[2018-04-10 00:11] houseroad commented on #31
I have uploaded new model files.

https://s3.amazonaws.com/download.onnx/models/opset_6/resnet50.tar.gz

Let me know if anything else is missing.

[2018-04-10 00:30] snnn commented on #31
Great! I've tested it. It's perfect!

Thank you

[2018-04-10 00:30] #31 closed

[2018-04-10 01:57] #4 closed

[2018-04-12 08:57] newling opened #34 "Format of input and output Tensors"
Certain model files contain npz inputs and outputs but no serialized protobuf TensorProtos.

The latter format is useful for Pythonless workflows. Would be good if either (i) all files contain protobuf files or (ii) a script for converting npz -> protobuf files is provided.

[2018-04-12 16:28] NiklasGustafsson commented on #27
I suggest that we include a model version in the repo's path to the model, and that the version number should be described in the README.

[2018-04-12 22:28] spandantiwari opened #35 "Shufflenet has an old version of BatchNormalization op (that uses consumed_inputs)"
The Shufflenet model in this repo has an older version of BatchNormalization op in the model, that uses the attribute `consumed_inputs`. There are two issues with this:

1) This version is quite old and several frameworks that support ONNX do not have support for it.
2) Furthermore, the older version's spec does not have a good description for this attribute.

Is it possible to remove this attribu

[2018-04-12 22:29] spandantiwari commented on #13
Shufflenet model still seems to have `consumed_inputs` attributes (https://github.com/onnx/models/issues/35)

[2018-04-12 22:34] spandantiwari commented on #33
Also, some of the BatchNormalization ops in this model have the consumed_inputs attribute, which has been removed from the current version. (https://github.com/onnx/models/issues/35, https://github.com/onnx/models/issues/13)

[2018-04-13 09:41] ayush1999 opened #36 "Constant op_type definition"
The mnist model contains a layer named `Constant`, along with Conv, Relu etc. I wanted to know what this Constant layer does in the model (What is the operation it performs?)

[2018-04-13 10:15] newling commented on #34
Found the functionality I seem to need to make the conversion:
[code]
But it'd still be good to have the .pb files in model directories.

[2018-04-13 13:31] louisabraham opened #37 "Error with emotion_ferplus loaded in Caffe2"
Hi,

I used

    convert-onnx-to-caffe2 model.onnx -o predict_net.pb --init-net-output init_net.pb

But when trying to run it on an input, I get :

[code]

I think my input shape is correct (else I get an error on the first layer `input: "Input2505"`).

[2018-04-13 13:53] newling opened #38 "input-outputs pairs mismatched for mnist model"
The 3 input / output pairs appear to be mismatched.

In particular,
Input 0 ---> Output 1
Input 1 ---> Output 2
Input 2 ---> Output 0.

So the 3 test_data_[012].npz files need to be recreated I guess.

[2018-04-14 04:37] spandantiwari commented on #35
Yes, this model is fine.

[2018-04-17 20:30] serenaz opened #39 "tiny_yolov2 model output with floats"
Hi! Can the tiny_yolov2 model be updated to output floats rather than doubles? Windows ML currently doesn't support doubles, so the model can't be used on Windows.

[2018-04-18 00:06] prasanthpul commented on #35
@houseroad @jspisak can you update the READMEs of all the models to list the right links? This is impacting many users. Using the new README template would be ideal

[2018-04-18 00:15] houseroad commented on #35
@prasanthpul thanks for reminding this. I will update it soon.

[2018-04-18 17:11] spandantiwari commented on #35
@houseroad - thanks for that. I am also wondering if we can have links to the older (opset < 6) models as well somewhere just because we have the models anyway?

[2018-04-19 17:32] houseroad commented on #35
@spandantiwari Yes, I have listed two major versions, opset_3 (stable version with release 1.1.0) and opset_6 (master branch)

[2018-04-19 19:40] spandantiwari commented on #35
Awesome! Thanks @houseroad .

[2018-04-19 19:40] #35 closed

[2018-04-24 21:42] houseroad commented on #30
Fixed here: https://github.com/onnx/models/pull/42

[2018-04-24 23:11] #30 closed

[2018-04-24 23:12] houseroad commented on #36
https://github.com/onnx/onnx/blob/master/docs/Operators.md#Constant

It creates a constant tensor.

[2018-04-25 04:02] houseroad commented on #7
Right now, most of the existing models take `[1, 3, 224, 224]` as inputs. The models are not sensitive to the input size.

[2018-04-25 04:02] #7 closed

[2018-04-26 07:47] rafisef opened #44 "Pre-Processing stage"
Hi guys,

I was wondering if anyone knew what pre-processing steps were taken for each respective model, more specifically VGG19. Additionally are these pre-processing steps the same or similar throughout all the models? Any information would be helpful.

Thank you

[2018-04-26 20:05] newling commented on #38
All good now, thanks @mx-iao !

[2018-04-27 00:06] snnn commented on #34
Only 3 of them don't have pb data files.

MNIST/Emotion/Tinyyolo

[2018-04-27 05:49] lupesko commented on #37
I think "auto_pad" attribute is deprecated, which is the root cause of the error.

[2018-04-27 07:37] newling commented on #34
Ok, not many. But thought I'd just let you know that having them in TensorProto format is useful.

[2018-04-27 07:55] newling opened #45 "MNIST model fully trained?"
I'm obtaining 22% classification rate on MNIST using the model provided https://github.com/onnx/models/tree/master/mnist
Can confirm that the model does load correctly : https://github.com/onnx/models/issues/38
and I'm performing the suggested preprocessing (/255 to get float in [0,1]).

[2018-04-27 07:59] #45 closed

[2018-04-27 08:02] newling commented on #45
My bad.

[2018-04-27 17:44] ebarsoumMS commented on #37
@lupesko yes it is marked as deprecated but still part of the spec. We will update the model once we update CNTK to move away from auto_pad.

[2018-04-27 21:34] anirudhacharya opened #46 "The outputs of the R-CNN ILSVRC13 model is incorrect"
For the onnx model - [R-CNN ILSVRC13](https://github.com/onnx/models/tree/master/bvlc_reference_rcnn_ilsvrc13) The model outputs seem to be incorrect for the task of object detection. The model output has the dimension (1,200) and each of values in the tensors seem to be a negative value around -2.5. But for an object detection task we ideally need information of the
 - bounding box co-ordinates

[2018-04-28 06:02] lupesko commented on #46
@houseroad can you look into it please?

[2018-04-28 06:09] houseroad opened #47 "Move the large model files to somewhere else"
GitHub has [100MB disk quota](https://help.github.com/articles/what-is-my-disk-quota/), and our models are usually very large. We should not store them in GitHub directly.

Right now, most of the models are hosted on S3, we should move the rest to somewhere else (e.g., s3, git lfs), too.

[2018-04-28 06:37] houseroad commented on #46
I have checked the details in caffe and our model zoo. This R-CNN ILSVRC13 caffe model is not the full model. Actually, it is the classifier for the proposed region. The region proposal is implemented in python script.

So I think the model is fine, and we have tested it end to end. I will add some description to model description.

Reference:
http://nbviewer.jupyter.org/github/BVLC/caffe/blob/mas

[2018-04-28 12:01] ayush1999 opened #48 "MNIST model weights"
I was loading the MNIST model. I wanted to where the model weights were stored. In other onnx models, the `Graph.initializer` structure holds this information, but in this particular MNIST model, the `Graph.initializer` is empty.

[2018-04-30 00:48] madhavajay opened #49 "SSD mobilenet?"
Any chance someone has an SSD Mobilenet onnx model yet?
Are all the operations supported for an SSD?

[2018-04-30 15:43] mx-iao commented on #47
Yes, we've started removing the model files. The last one that needs to be removed is the emotion model and I'll do that today.

[2018-04-30 16:18] ebarsoum commented on #48
Hi @ayush1999  for this model the weights are stored in a Constant OP and not in the initializer.

[2018-04-30 17:04] houseroad commented on #47
@mx-iao Thanks for the update. Ideally the git history should also be cleaned. :-)

[2018-04-30 17:04] #47 closed

[2018-04-30 17:05] ayush1999 commented on #48
@ebarsoum I see. What is the reason behind this difference?

[2018-04-30 17:46] ebarsoum commented on #48
Historic, the above model is created from CNTK which uses Constant instead of the initializer. We are in the process of updating CNTK to use initializer instead, and once that work is done I will update MNIST and the emotion model.

[2018-05-01 22:12] pooyadavoodi opened #51 "Can't download model file opset_4/resnet50.tar.gz"
I am using onnx 1.1.1, where `onnx.defs.onnx_opset_version()` returns 4, and thus Caffe2 tries to download https://s3.amazonaws.com/download.onnx/models/opset_4/resnet50.tar.gz

Downloading this file gives the following error:

[code]

[2018-05-01 22:13] pooyadavoodi commented on #51
https://s3.amazonaws.com/download.onnx/models/opset_5/resnet50.tar.gz has the same problem, but 3 and 6 work.

[2018-05-02 15:42] houseroad commented on #51
@pooyadavoodi we don't provide opset_4 and opset_6 version of resnet50.tar.gz right now in the model zoo.

Acutually, opset_3 should work with onnx 1.1.1.

[2018-05-03 17:52] TheBharath opened #52 "Unable to download ZFNet Model from the link"
Hi
Can you  look into this? I am unable to download the tar.gz file for the released version and I get an error.
![image](https://user-images.githubusercontent.com/17170159/39593889-01e8a112-4ec0-11e8-8d97-845b174a3831.png)

[2018-05-04 06:17] 0wu commented on #17
@houseroad any updates? or possibility to contribute code for this?

[2018-05-04 15:52] #52 closed

[2018-05-06 08:53] georgeokelly opened #53 "Does the tiny-yolo-voc.onnx have pads?"
When I convert the provided tiny-yolo-voc.onnx to another framework, it goes on well. But when I convert my own tiny-yolo-voc.onnx, it warns me that no supports for pads. Does that mean the provided onnx has no pads? And would you provide with tiny-yolo on COCO? Thanks a lot.

[2018-05-06 22:32] oscarbg opened #54 "Can add mobilenet v1 and v2 onnx files?"

[2018-05-08 20:18] yinghai opened #55 "Tiny_Yolov2 failed ONNX model checker"
Looks like `tiny_yolov2` only has one input (`image`). For it to be a valid model, all the initializers should be in the input too. @houseroad

Error log:
[code]

[2018-05-08 23:46] leodestiny opened #56 "emotion_ferplus model has not opset_import field"
I download emotion_ferplus onnx model https://github.com/onnx/models/tree/master/emotion_ferplus.
But using onnx.checker.check_model function, report:
<img width="762" alt="image" src="https://user-images.githubusercontent.com/6851716/39788391-e6b6579e-535c-11e8-8981-ab911a1b8211.png">
I found that in emotion_ferplus.onnx, opset_import is [], which is not set.

[2018-05-08 23:49] leodestiny commented on #55
Same error in my computer.

[2018-05-09 23:03] mx-iao commented on #34
@newling We are going to add pb files for the rest of the models

[2018-05-10 01:26] mx-iao commented on #56
Fixed, model now passes the model checker. Thanks!

[2018-05-10 01:26] #56 closed

[2018-05-10 01:27] mx-iao commented on #34
added .pb files for MNIST/Emotion/Tinyyolo

[2018-05-10 01:27] #34 closed

[2018-05-10 20:46] prasanthpul commented on #24
As per onnx/onnx-mxnet#42 this seems to be an issue with mxnet. So closing this issue

[2018-05-10 20:46] #24 closed

[2018-05-15 18:16] ThomasDelteil opened #59 "Can't get accurate prediction on some pre-trained models"
Hi,

I get good results on the traditional 1000 imagenet synset using the VGG16, bvlc_googlenet, and VGG19 models, with the data moved to [0, 1] and applied the std and mean normalization from ImageNet.

However I am not able to get accurate predictions using squeezenet, densenet121 pre-trained models using the same pre-processing. Have they been trained on a different synset? Do they need a speci

[2018-05-16 09:42] larshulstaert commented on #49
+1

[2018-05-17 11:54] ayush1999 opened #60 "Error in the tiny yolo v2 model"
I was trying out the tiny yolo v2 model, when I came across a strange error. Apparently, there exist a `convolution.W` key, which is called without being initialized. Can someone tell me the reason behind this?

[2018-05-21 03:38] houseroad commented on #54
Yes, we will add it soon.

[2018-05-21 14:04] ayush1999 commented on #60
@bddppq Any idea?

[2018-05-23 00:01] prasanthpul commented on #55
This model was converted from CoreML, so we will take a look at the source model and the converter.

[2018-05-23 21:12] anirudhacharya opened #62 "Error in Emotion_ferplus output labels"
The labels mentioned in the [models readme](https://github.com/onnx/models/tree/master/emotion_ferplus#post-processing-steps) is this -
``emotion_table = {'neutral':0, 'happiness':1, 'surprise':2, 'sadness':3, 'anger':4, 'disgust':5, 'fear':6, 'contempt':7}``

It does not match with the labels mentioned in the [dataset source](https://www.kaggle.com/c/challenges-in-representation-learning-facial-e

[2018-05-24 03:59] anirudhacharya commented on #62
@ebarsoum So I would be right in taking these as actual labels -
``
{'neutral':0, 'happiness':1, 'surprise':2, 'sadness':3, 'anger':4, 'disgust':5, 'fear':6, 'contempt':7}
``

And taking the output as activations which need to pass through a softmax function to get the probability distribution of the different emotions?

[2018-05-25 18:08] snnn opened #63 "Input test data should have a valid name"
How to reproduce:

Download squeezenet model from https://s3.amazonaws.com/download.onnx/models/opset_7/squeezenet.tar.gz
Unzip it and run the script below with squeezenet\test_data_set_0\input_0.pb

[code]

The output is empty.

We need this information to know this tensor is for which input.

[2018-05-25 18:09] snnn commented on #53
We should get this model updated to a new version. This work is on-going.

[2018-05-25 18:10] snnn commented on #55
https://github.com/onnx/onnx/issues/1021

[2018-05-25 18:14] snnn commented on #54
Great!

Could you also add inception_v3 from tensorflow?

https://storage.googleapis.com/download.tensorflow.org/models/inception_v3_2016_08_28_frozen.pb.tar.gz

python -m tf2onnx.convert --input inception_v3_2016_08_28_frozen.pb --inputs input --outputs InceptionV3/Predictions/Reshape_1:0 --output model.onnx

I can also provide the script for generating test data.

[2018-05-25 21:11] sgarcia22 opened #64 "ResNet50 Labels Giving Wrong Results"
Hi everyone, I have successfully imported the ONNX model for ResNet50, I tried both the master and release versions, and labels from here: http://image-net.org/challenges/LSVRC/2015/browse-synsets (copied & pasted, and parsed in Python), and I tried the IMAGENET 2012 list as well http://www.image-net.org/archive/words.txt.

If I put a golden retriever it gives me .999.. percent accuracy... of a ru

[2018-05-25 21:32] snnn opened #65 "Models downloaded from opset7 url is opset 6"
https://s3.amazonaws.com/download.onnx/models/opset_7/inception_v1.tar.gz

But the model file is indeed opset 6.

[2018-05-25 22:04] pooyadavoodi commented on #51
Sorry for the delay.
I understand that 3 and 6 work, but the problem is `onnx.defs.onnx_opset_version()` returns 4. If that function returns 3 or 6, then it all made sense.

[2018-05-25 23:58] linkerzhang commented on #65
@houseroad

[2018-05-28 10:50] XiaoGeMa commented on #64
The same

[2018-05-30 20:20] snnn commented on #60
@linkerzhang Could you please re-generate the model and let @ayush1999 test again?

[2018-05-31 14:55] houseroad commented on #65
We need to update the Caffe2 exporter first, then we will update the models.

[2018-05-31 14:59] houseroad commented on #64
@sgarcia22 could you try to use the mean to preprocess your input? https://github.com/Azure/BatchAI/blob/master/recipes/Caffe2/Caffe2-GPU-Distributed/resnet50_trainer.py#L61

[2018-06-03 04:35] bestlin commented on #17
@houseroad do you have some plans for the detection functions for SSD?

[2018-06-06 17:33] mx-iao commented on #62
@anirudhacharya Yes, you will need to route the output of the model through a softmax function to get the probabilities across the 8 classes (this ferplus model uses the above 8 classes and not the original 7)

[2018-06-06 17:34] #62 closed

[2018-06-09 10:08] arogozhnikov opened #66 "MNIST example fails ONNX checker"
[code]

resulting error
[code]

[2018-06-15 18:46] ankkhedia commented on #54
Hi @oscarbg You can take a look into new ONNX Model Zoo. It has Mobilenet V2 model along with training, inference and validation notebooks.

Feel free to raise a PR if you have something to contribute.
Thanks!

[2018-06-15 18:48] ankkhedia commented on #44
Hi @rafisef . You can take a look into new ONNX Model Zoo https://github.com/onnx/model-zoo.
It contains preprocessing steps with respect to models added as well as training, inference and validation notebooks.
Thanks!

[2018-06-15 18:50] ankkhedia commented on #15
Hi @barak-hurwitz , please take a look into https://github.com/onnx/model-zoo. It contains some SOTA models with preprocessing codes. Please feel free to checkout the repo and raise an issue there in case you find something missing.

Thanks!

[2018-06-15 18:53] ankkhedia commented on #59
Hi @ThomasDelteil , This is the new model zoo https://github.com/onnx/model-zoo. Pleas feel free to checkout the models. The models come along with the synset and preprocessing code.

Thanks!

[2018-06-16 20:55] barak-hurwitz commented on #15
Thanks :) , I'll check it out

[2018-06-18 22:50] oscarbg commented on #54
Hi @ankkhedia,
thanks for pointing out ONNX Model Zoo (https://github.com/onnx/model-zoo) wasn't aware of that project..
closing & will test soon..

[2018-06-19 11:20] arogozhnikov commented on #66
Seems that some other problems in the model too

[code]

[2018-06-21 14:09] sgarcia22 commented on #64
Yes I had to resize/center crop to 224x224 then process the mean & std. Thanks for the help!

[2018-06-21 14:10] #64 closed

[2018-06-21 20:43] mx-iao commented on #66
Can you use the onnx v1.2 mnist model: https://www.cntk.ai/OnnxModels/mnist/opset_7/mnist.tar.gz

[2018-06-22 09:39] arogozhnikov commented on #66
@mx-iao

yes, that one looks ok

[2018-06-22 09:39] #66 closed

[2018-06-25 23:57] houseroad commented on #65
Done

[2018-06-25 23:57] #65 closed

[2018-06-28 00:02] youngkim93 opened #71 "ShuffleNet Model does not generate code"
According to [documentation](https://github.com/onnx/onnx/blob/master/docs/IR.md) all names within a graph must "adhere to C identifier syntax rules." But it looks like [ShuffleNet](https://s3.amazonaws.com/download.onnx/models/opset_7/shufflenet.tar.gz) model has input and outputs that are not following this rule(gpu_0/data_0 and gpu_0/softMax_1).

[2018-07-01 17:03] prasanthpul commented on #71
@houseroad can you help update the model to conform to the spec

[2018-07-01 17:07] prasanthpul opened #73 "potential issue with tinyyolov2 output"
See the issue here which was closed since this issue is now open: https://github.com/onnx/onnx/issues/1162

[2018-07-04 08:22] issuehsu opened #76 "ImageScaler in tiny_yolov2 model"
ImageScaler operation is not supported in Caffe2.
Since the ONNX models usage states that "Every ONNX backend should support running these models out of the box", is this model satisfy the portability of ONNX models?

I also wonder whether models from CNTK (emotion_ferplus, mnist) and CoreML (tiny_yolov2) satisfy the portability.

[2018-07-05 10:22] rafisef commented on #17
@houseroad I know this has been asked before, but any updates on these models? Any plans for Mask RCNN?

[2018-07-05 20:49] houseroad commented on #17
Yes, we do, still working on it, just low bandwidth.

[2018-07-05 21:49] nickfeeney opened #77 "ShuffleNet Reshape Problems"
Hey, I have been looking at the shufflenet model and have noticed some issues. First and most serious is the over use of reshape nodes.

If Reshapes from a 4D tensor to a 5D Tensor then Transposes then Reshapes back to 4D. This is unnecessary it can simply Transpose in 4D space. This eliminates the reshape nodes entirely.

The second issue is that the data inside the reshape "Shape" tensor is stra

[2018-07-05 23:30] houseroad commented on #71
@prasanthpul yes, this is an issue. We did use names such as "gpu_0/data_0"

[2018-07-05 23:30] houseroad commented on #63
I will take a look and fix them.

[2018-07-05 23:54] prasanthpul commented on #76
Models that use core ops should be portable. If a model uses core ops and doesn't work with some tool, then likely the tool is not meeting the spec. The model zoo documentation is being updated and this verbiage should be changed/clarified. @abhinavs95 can you make sure this is clear in the new readme?

That said, in this case ImageScaler is an experimental ops defined in the spec (https://github.

[2018-07-06 00:03] bddppq commented on #63
name in the input TensorProto is not required in onnx's spec

[2018-07-06 04:08] snnn commented on #63
Then how could I know this pb file is for which input?

[2018-07-06 04:21] snnn commented on #63
I tried to get such information from the model.graph.input, but right now it contains too many noises.  For example, the zfnet model, it's input contains the real input("gpu_0/data_0"), model weights, "gpu_0/imagenet1k_blobs_queue_e24a6638-b332-4e67-a127-91f5e17e2e11_0", "OC2_DUMMY_1".

I think the simplest way is just fill that information in the TensorProtos.

[2018-07-09 23:51] fs-eire commented on #63
+1 to the issue

[2018-07-10 00:11] bddppq commented on #63
@snnn yeah I agree for the model zoo test data it would be better to have names in the TensorProto, just wanted to point out this is not in the spec and so backends shouldn't rely on it (if the backend happens to take TensorProto as inputs at runtime).

[2018-07-10 20:21] prasanthpul commented on #77
@houseroad can you comment on why the model does this currently? Seems like we can optimize as @nickfeeney suggests

[2018-07-11 13:10] suryaprakaz opened #78 "Can't run onnx backend for test data"
I'm trying to run the onnx backend interpreter on a test input data for the resnet50 model

Code is the same as what's provided in the [README](https://github.com/onnx/models/blob/master/README.md) file
[code]

[2018-07-11 22:04] ankkhedia commented on #78
Hi @suryaprakaz Which model did you use ? Could you point me to exact one?

[2018-07-11 22:41] abhinavs95 commented on #78
@suryaprakaz the code provided in the readme is used by the platforms supporting ONNX in their CI and cannot be used as is.

@houseroad @mx-iao @prasanthpul Should we move this code elsewhere or provide clarifications on how to use it?

[2018-07-12 00:19] houseroad commented on #78
@abhinavs95 this is the recommend way to support ONNX, please check https://github.com/onnx/onnx/blob/master/docs/ImplementingAnOnnxBackend.md

[2018-07-12 00:21] houseroad commented on #78
@suryaprakaz ONNX itself does not support any real backend. Please use the frameworks which provide onnx support, such as Caffe2 (merged with pytorch), CNTK, MxNet, etc.

[2018-07-12 16:53] houseroad commented on #77
There is a new operator called `ChannelShuffle` introduced in ShuffleNet. Caffe2 supports it, however, there is no corresponding operator in ONNX. The right way to translate it is 1) reshape a [N, C, H, W] tensor to a [N, G, C', H, W] tensor, 2) transpose the G and C', 3) Reshape it back to [N, C, H, W]. This is the story behind such operator sequences.

More details can be found here: https://git

[2018-07-12 17:17] nickfeeney commented on #77
@houseroad Ok that sounds non trivial and my proposal wouldn't do that. But I think that the reshape->transpose->reshape still doesn't accomplish that. It transposes [1, C, H, W]-> [1,1,C,H,W]->[1, C, 1, H, W]->[C, 1, H, W]. The reshape data needs to be formed correctly to split C into G and C'

[2018-07-12 17:30] nickfeeney commented on #77
@houseroad Also I think that what you need to be doing is splitting C into [C', G](not [G, C']) then transpose it to [G, C']. That would make it map to the NCHW format of convolution in Onnx which expects channels to be grouped next to each other for convolution with Group count(kind of like [N,G,C',H,W])

[2018-07-12 17:46] nickfeeney commented on #77
@houseroad Sorry I am wrong about the order. it needs to come out of the 1x1 Conv as [NCHW] then reshaped into a [N, 4, 28, H, W] transposed into [N, 28, 4, H, W] reshaped into [N,112, H, W], where G = 4 and c' = 28. This is not what it is doing today.

[2018-07-12 17:48] houseroad commented on #77
I have manually checked the data, netron didn't correctly show the data. For example, the data is 1, 4, 136, 7, 7, it shows like the following:
`
type: int64[5]
[
{
"_buffer": {
"0": 1,
"1": 0,
"2": 0,
"3": 0,
"4": 0,
"5": 0,
"6": 0,
"7": 0
}
},
{
"_buffer": {}
},
{
"_buffer": {}
},
{
"_buffer": {}
},
{
"_buffer": {}
}
]
`
So the model itself is correct. And no performance issue, too. Feel free to

[2018-07-12 17:59] houseroad commented on #76
@snnn We are working on an ONNX backend scoreboard. Hopefully it will be available in one or two months.

[2018-07-12 18:23] #77 closed

[2018-07-13 02:40] Issue-Hsu commented on #76
@prasanthpul Yes, we try using Caffe2 to run tiny_yolov2 (opset_7) and see following error message:
terminate called after throwing an instance of 'caffe2::EnforceNotMet'
  what():  [enforce fail at backend.cc:1004] . Don't know how to translate op ImageScaler

[2018-07-15 23:07] lutzroeder opened #79 "Unsqueeze in recent inception_v2"
Recent versions of `inception_v2` include a lot of `Unsqueeze` operations. Are these necessary or a bug in the converter?

![model](https://user-images.githubusercontent.com/438516/42739268-2d4b97de-8849-11e8-85a5-2cafd7ad7c78.png)

[2018-07-17 00:18] Issue-Hsu commented on #79
It seems Unsqueeze op is to handle broadcast attribute in element-wise op

[2018-07-17 05:19] #79 closed

[2018-07-19 07:15] lutzroeder commented on #77
See lutzroeder/Netron#128

[2018-07-19 17:54] Ac2zoom commented on #13
When it's cited as required in opset 1, does that mean it can be fed as an empty input, or some random 1 dimensional vector?

[2018-07-20 21:35] brantPTS commented on #17
Thanks for asking about this and for the updates. Any new information on status would be great.

[2018-07-24 09:27] tsocha opened #81 "Bad shapes of npz test data in Emotion FER+"
While I've been checking ONNX models I realized that Emotion FER+ test data shapes differ from other models.
In all examples data in NPZ files are wrapped up in one more extra dimension, but data for FER+ are not.
Therefore official ONNX test suite doesn't handle it properly and I get an error that output shape `(1, 8)` doesn't match expected `(8,)` while `(1, 8)` is a valid output shape.

Please

[2018-07-24 17:20] crahrig opened #82 "Resnet50, SqueezeNet and VGG19 represented twice from different source frameworks"
The model zoo currently contains three models (Resnet50, SqueezeNet and VGG19) that each have two variants which is confusing to end consumers.

Ideally these should be de-duplicated. If that doesn't make sense then they should state their differences outside of origin framework and be organized in a way that places them all in the same sub-folder/path on the repo.

Following are pointers to the e

[2018-07-24 18:35] snnn commented on #82
They are from different sources. Personally, I think it's fine to keep all of them.  ONNX, as a genenal platform, should have no bias on training frameworks.

[2018-07-24 23:11] linkerzhang commented on #71
@houseroad  would you help to fix the variable name issue for models that @youngkim93  mentioned above please? Thank you!

[2018-07-25 09:44] nttstar opened #83 "New insightface/arcface model released."
Hi onnx authors, there are some new arcface models [here](https://github.com/deepinsight/insightface/wiki/Model-Zoo) which you can use to convert to onnx models. Especially the new trained resnet100(on MS1M_v2) performs better than the old one.

[2018-07-26 05:54] lupesko commented on #83
Thanks for the suggestion!
Can you share mode details about the new model performance?

Would be great if you can contribute, you seem like an MXNet expert already, and exporting to ONNX is super easy, here's the [API reference](https://mxnet.incubator.apache.org/api/python/contrib/onnx.html#api-reference).

[2018-07-26 05:55] lupesko commented on #83
@ankkhedia @abhinavs95

[2018-07-26 06:10] lupesko commented on #82
Thanks for the note @crahrig ! Fair point.
Labeled and you are welcomed to submit a PR to merge into models listed [here](https://github.com/onnx/models/tree/master/models) where there is more detailed documentation.

[2018-07-26 16:51] ankkhedia commented on #54
Hi @oscarbg ONNX Model Zoo (https://github.com/onnx/model-zoo) has been merged with onnx/models. You can take a look here itself.
Thanks!

[2018-07-26 23:02] oscarbg commented on #54
Thanks for letting me know!

[2018-07-30 06:02] arogowie-intel opened #85 "Incorrect MNIST models."
Hi,

I'd like to report incorrect MNIST models, both opset version 1 and 7.

Model with opset version 1 fails ONNX checker (#66) with `opset_import` attribute not set, whereas opset version 7 has both `pads`  and `auto_pad` attributes set - discussion [here](https://github.com/onnx/onnx/issues/1230).

Please update models.

[2018-07-31 12:10] tsocha commented on #81
@mx-iao could you take a look at this, please.

[2018-07-31 22:08] mx-iao commented on #81
@houseroad is there any reason why the .npz data has an one more dimension than the .pb data? Can we keep it consistent across the .npz and .pb data to reduce confusion?

[2018-07-31 22:25] houseroad commented on #81
Because all the inputs (a list of tensors) are serialized into one `.npz`. But `.pb` only contain one tensor. I would suggest to keep .pb to reduce the confusion.

[2018-08-01 02:21] JerryShih opened #86 "The image processing of inception_v2"
I try to use caffe2 onnx backend to run the opset8 inception_v2 model. The caffe2 onnx backend running with sample test data is 99% similar with the expected test result, but the accuracy rate is 0 when I run with ILSVRC2012 dataset.
There is no image processing step in this [link](https://github.com/onnx/models/tree/master/inception_v2). Maybe it should have some pre-processing steps before runni

[2018-08-01 17:00] mx-iao commented on #81
@tsocha I'll go through the emotion, mnist, & tiny-yolo models and make sure the file names are consistent. I'll also add a note to to the pull request template about the expected naming conventions for the sample data.
@houseroad Should I just remove the .npz data then? I recall we had in a spec somewhere that going forward we would just provide .pb data anyways.

[2018-08-01 20:54] houseroad commented on #81
@mx-iao as long as you provide the enough test data in pb format, removing .npz is fine.

[2018-08-02 15:27] EvrenGursoy commented on #76
I'm intending to have a go at creating the ImageScaler op at the Caffe2 end. To do this and be able to the import the tiny-yolo onnx model to Caffe2, is the only thing that I need to do to create a suitable custom operator at the Caffe2 side? Or do I also need to do something with caffe2-onnx bundled with PyTorch / Caffe2?

[2018-08-02 16:37] snnn commented on #85
I think the model is correct, the document is wrong. NOTSET is the default value of this attribute, so it must be valid.

[2018-08-02 17:05] houseroad commented on #76
@EvrenGursoy if the operator definition in both onnx and caffe2 matches perfectly, you don't need to extra binding.

[2018-08-02 17:29] tjingrant opened #87 "Problems with ResNet18"
Hello, resnet18 referenced in this link: https://s3.amazonaws.com/onnx-model-zoo/resnet/resnet18v1/resnet18v1.onnx has problems between global average pool op and gemm op. Specifically, according to ONNX spec, the output of global avg pool retains the trailing trivial dimensions.

 Thus, the output of this operation in the context of resnet18 will be (N, C, 1, 1), whereas gemm expects 2-dimensiona

[2018-08-02 17:30] tjingrant commented on #87
cc @ankkhedia @abhinavs95

[2018-08-02 18:05] tjingrant commented on #87
While we are on this subject, would you consider giving it a model name that is better than "main" (which is the current name)? This could be very helpful.

[2018-08-02 20:17] Roshrini commented on #87
@tjingrant If you see the python notebook used to generate the above resnet18 model, https://github.com/onnx/models/blob/master/models/image_classification/resnet/train_resnet.ipynb
you can see that it uses "Dense"(FullyConnected) layer after GlobalAveragePool. As FullyConnected operator is not present in ONNX, it was mapped to "Gemm" operator.(https://github.com/apache/incubator-mxnet/blob/master

[2018-08-02 20:38] tjingrant commented on #87
@Roshrini

This issue is about nonconformity. The model in question is incompatible with the ONNX spec and the relevant spec was cited in my original issue content.

Note that I'm not claiming the model is semantically incorrect.

[2018-08-02 21:17] postrational commented on #85
It seems `NOTSET` is mentioned in the ONNX definitions here:
https://github.com/onnx/onnx/blob/4695828eac9b31c97fc211b43609c4ba3a9cd9e7/onnx/defs/nn/defs.cc#L205

The default value is not presented on the generated `Operators.md` documentation:
https://github.com/onnx/onnx/blob/master/docs/Operators.md

[2018-08-03 19:26] mx-iao commented on #81
@tsocha I've updated all the test data files for mnist, emotion, & tiny yolo to be consistent. Let me know if you find any issues.

[2018-08-03 19:26] #81 closed

[2018-08-07 18:41] martinb35 opened #89 "resnet 50 preprocessing steps are unclear"
I see the notes on mean, std, and scale, but I'm not sure what to do with those. Can you provide a code sample?

[2018-08-07 18:45] ankkhedia commented on #89
@martinb35 you can check out the details here- https://github.com/onnx/models/tree/master/models/image_classification/resnet#preprocessing

For preprocessing code sample, please check out https://github.com/onnx/models/blob/master/models/image_classification/imagenet_preprocess.py

[2018-08-09 00:07] fs-eire commented on #63
Is there update for the models in model zoo now?

[2018-08-09 08:50] ranjith-jr opened #90 "Bug in vgg19 model"
Revision : https://s3.amazonaws.com/download.onnx/models/opset_8/vgg19.tar.gz

The model contains following two operators.

%vgg0_pool4_fwd = MaxPool[kernel_shape = [2, 2], pads = [0, 0, 0, 0], strides = [2, 2]](%vgg0_relu15_fwd)
  %vgg0_dense0_fwd = Gemm[alpha = 1, beta = 1, transA = 0, transB = 1](%vgg0_pool4_fwd, %vgg0_dense0_weight, %vgg0_dense0_bias)

The Tensor inputs for the Gemm operator h

[2018-08-16 05:51] ranjith-jr commented on #90
Ping!

[2018-08-17 06:42] ranjith-jr commented on #90
@ankkhedia  Thanks for the reply.

Even though the models are from different framework, is it not the philosophy behind the ONNX to provide a universal exchange format. The model in question is here is not as per the the ONNX standards.

Should not this be considered as the bug in the model generation and fixed accordingly?

[2018-08-17 16:48] ankkhedia commented on #90
@ranjith-jr
 I do think that this is a bug in the converter but some operators are not present in ONNX at all and the operators from base framework are mapped to nearest operator in ONNX. The above problem can be alleviated when the operator coverage for ONNX increases.

[2018-08-30 20:47] snnn opened #91 "arcface model is invalid"
I downloaded the model from:
https://s3.amazonaws.com/onnx-model-zoo/arcface/resnet100/resnet100.onnx

If you open the model, take a look at the second OP: Sub. Its first input, A, is a float tensor, but its second input, B, is a double tensor.

[2018-08-31 04:53] snnn commented on #91
Hi @ankkhedia

It's float64 ?

[2018-09-04 23:43] riacheruvu commented on #79
Netron shows that the Unsqueeze node in Inception_v2 takes as input a large array (as shown in the attached picture), which is **not** in the onnx file or fed as input to the Unsqueeze node. Where is the data in the Unsqueeze node coming from?
![screenshot](https://user-images.githubusercontent.com/22090501/45063141-5b9afb80-b061-11e8-976e-8fd366ad6044.png)

Thank you for the help!

[2018-09-05 19:18] riacheruvu opened #92 "Source of input data to Unsqueeze in Inception_v2 and DenseNet121 Opset 8 unclear"
Netron shows that the Unsqueeze node in Inception_v2 takes as input a large array (as shown in the attached picture), which is not in the onnx file or fed as input to the Unsqueeze node. This is also occurring in DenseNet121. Where is the data in the Unsqueeze node coming from or is this a bug?

If this is not the right place to post this, please let me know.

![screenshot](https://user-images.git

[2018-09-08 12:11] lutzroeder commented on #92
The data is from a preinitialized tensor in `model.graph.initializer`. The tensor name is `conv1/7x7_s2/bn/sc_w_0`.

[2018-09-08 12:16] lutzroeder opened #93 "Duplicate VGG19 models"
There are two different `VGG19` models in the model zoo. Can the files be consolidated or renamed so users referring  to "VGG19 in the model zoo" will be less ambiguous.

https://github.com/onnx/models/tree/master/vgg19
https://github.com/onnx/models/tree/master/models/image_classification/vgg

[2018-09-11 00:01] prasanthpul commented on #91
@ankkhedia your screenshot shows it as a float64 (aka double) which doesn't seem to be supported by https://github.com/onnx/onnx/blob/master/docs/Operators.md#Sub. In fact none of the ops seem to list float64 as supported inputs.

[2018-09-11 01:53] snnn commented on #93
"The VGG19 in the model zoo generated from caffe2"
"The VGG19 in the model zoo generated from mxnet"

That would be enough.

[2018-09-11 05:04] prasanthpul commented on #91
@snnn is the problem that the type needs to be the same for both?

[2018-09-11 17:31] prasanthpul commented on #91
@ankkhedia can you fix the model?

[2018-09-11 17:43] ankkhedia commented on #91
@prasanthpul I will take a look.

[2018-09-11 23:33] riacheruvu commented on #92
Thank you!

[2018-09-11 23:33] #92 closed

[2018-09-18 09:48] bafu opened #96 "Fail to run inference demo for ImageNet models"
Run the [Inference Demo for ImageNet Models Jupyter example](https://github.com/onnx/models/blob/master/models/image_classification/imagenet_inference.ipynb), and will get the exception (extract the source and save as mxnetinf.py)

[code]

---
Steps to Reproduce

1. Install packages

[code]

1. Download [MobileNet model](https://github.com/onnx/models/blob/master/models/image_classification/mobile

[2018-09-18 18:32] ankkhedia commented on #96
Thanks @bafu for your contribution and fixing this issue in #97

[2018-09-20 00:41] houseroad commented on #93
@snnn thanks for the explanation

[2018-09-20 00:46] prasanthpul commented on #93
That's pretty confusing for the users of the zoo to have 2 different versions of the model. Which one should they use and why?

[2018-09-20 00:48] houseroad commented on #93
probably we can have some evaluation. And only keep one.

[2018-09-20 00:57] prasanthpul commented on #93
we don't even link to both from the TOC so one of the models is "hidden".

[2018-09-20 02:42] houseroad commented on #85
The document is updated. So close the issue

[2018-09-20 02:42] #85 closed

[2018-09-20 08:12] #48 closed

[2018-09-26 19:04] snnn commented on #76
Hi all,

ImageScaler is still an experimental op. if a model contains an experimental op, it means this model may not be supported in a newer ONNX version.  Here I'm saying ONNX version, not opset.

AFAIK, no tools or onnx backend can support multiple ONNX versions at the same time. It can support multiple opsets ,not onnx versions. If somebody downloaded the tiny_yolov2 model from here, today, an

[2018-10-01 18:58] crahrig commented on #93
Adding on here that this is also captured by #82

[2018-10-02 03:44] snnn commented on #93
Hi @ankkhedia ,

Is there any update on this bug: https://github.com/onnx/models/issues/91 ?  Does it only affect the resnet100 model?

Thanks.

[2018-10-02 16:43] ankkhedia commented on #93
@snnn got a little busy and was not able to look into the issue #91, I will try to address the issue by next week. Sorry for the inconvenience.

[2018-10-02 17:00] snnn commented on #93
Thank you @ankkhedia

[2018-10-05 10:02] postrational opened #101 "DUC model top level directory in tar is unnamed"
The tar file for the DUC model (Download with sample test data) contains no top-level directory.

Tar data files for other models are organised like this:
[code]

Where as the DUC model has:

[code]

This inconsistency will make it unnecessarily more difficult to write automatic parsers for this data file.

The tar file:
https://s3.amazonaws.com/onnx-model-zoo/duc/ResNet101_DUC_HDC.tar.gz

[2018-10-05 10:07] postrational opened #102 "ZFNet-512 tar files contains hidden files"
The tar files for the ZFNet-512 model (Download with sample test data) contain hidden files. Those are MacOS artefacts AFAICT.

Tar data files for other models are organised like this:
[code]

Where as the ZFNet-512 model has:

[code]

This inconsistency will make it unnecessarily more difficult to write automatic parsers for these data files.

The tar file:
https://s3.amazonaws.com/download.onnx/

[2018-10-09 19:20] owulveryck opened #103 "The MNIST model seems corrupted"
Hello,

I am trying to run the MNIST model on my [`go backend`](https://github.com/owulveryck/gorgonnx/issues/2) for days without success, so I wanted to run it step by step on caffe2 to see what I did wrong.

I have downloaded the docker image of onnx+caffe2 to test:

`docker run -it --rm onnx/onnx-docker:cpu`

Then I have downloaded the example:

`curl -s https://www.cntk.ai/OnnxModels/mnist/ops

[2018-10-09 20:44] abhinavs95 commented on #101
Hi @postrational I just downloaded and extracted the tar file for DUC. I don't see the missing top level directory as you mentioned. I am seeing the following structure:

[code]

[2018-10-11 10:50] postrational commented on #101
This is what I see when using Python's `tarfile` module:

[code]

Notice the first entry is `./`

[2018-10-11 17:15] ankkhedia commented on #101
@postrational @abhinavs95 seems like an issue. I got similar output as @postrational for this model  whereas other model has following structure.
[code]
I will try to fix this model and re-upload it to S3.

[2018-10-11 19:56] abhinavs95 commented on #101
I can see the error now. I initially extracted the tar file in mac finder, which showed me the correct top level directory.

@ankkhedia creating a fresh tar file fixed it for me, I have uploaded the file here: https://drive.google.com/open?id=1qjADqcm1NdL1ncFg3Vg6KY-ZKQ--2xnF

[2018-10-12 00:14] snnn opened #104 "Please delete opset_7/zfnet.tar.gz"
https://s3.amazonaws.com/download.onnx/models/opset_7/zfnet.tar.gz

I accidentally downloaded this file, then found it's not opset 7, it's 6.

[2018-10-15 08:17] Flamefire commented on #90
I noticed the same and this **IS** a bug in the model (and therefore in the converter): It misses a "Flatten" operator between `MaxPool` and `Gemm`.

See also https://github.com/onnx/onnx/issues/1101

[2018-10-15 21:57] houseroad commented on #104
Done!

[2018-10-15 21:57] #104 closed

[2018-10-15 22:09] prasanthpul commented on #89
https://github.com/onnx/models/tree/master/models/image_classification/resnet also shows numpy-based python code for preprocessing.

[2018-10-15 22:09] #89 closed

[2018-10-16 02:58] snnn commented on #104
Thanks.

[2018-10-16 08:51] ChuangLee opened #105 "Where is the directory of “Speech Processing ”"
Thanks.
I can't find the model of "Deep voice"

[2018-10-16 16:15] prasanthpul commented on #105
The model has not been contributed yet. Would you be interested to do so?

[2018-10-22 12:10] fldvrees commented on #73
If anyone has problems with parsing the output of the tiny YOLOv2 model.
elbruno has an[ excellent example](https://github.com/elbruno/Blog/tree/master/20180709%20UwpMLNet%20TinyYoloV3) of how the output should be parsed.

As far as I'm concerned there is nothing wrong with the tiny YOLOv2 ONNX model, and this issue may be closed

[2018-10-29 17:29] mathisdon opened #114 "Illegal reshape() in model zoo?"
I believe there is an illegal reshape() operator in a model zoo model.

The model [emotion_ferplus](https://github.com/onnx/models/tree/master/emotion_ferplus) has a reshape() node called "Times622_reshape0" whose input tensor has shape (N, 256, 4, 4) where N is batch size, and it has the shape argument (1, 4096).

That would imply that the output tensor has shape (1, 4096). But that can't be righ

[2018-10-29 23:05] prasanthpul commented on #91
@ankkhedia any update on this?

[2018-10-29 23:08] ankkhedia commented on #91
Hi @prasanthpul Sorry for being late as got pulled into some other things. I will try to prioritise it this week.

[2018-11-01 18:50] ankkhedia commented on #101
@abhinavs95 Thanks for the tar file.
@postrational I have uploaded the fresh tar to the S3 bucket.
Could you please make sure and close the issue if the problem doesn't persist anymore

[2018-11-01 20:34] mx-iao commented on #93
@snnn @ankkhedia @prasanthpul @houseroad have we reached consensus on this? either 1) merge and keep only one model or 2) keep both, group in same folder, and differentiate based on training framework used ?

[2018-11-01 20:46] mx-iao commented on #78
@suryaprakaz as houseroad mentioned, please use a framework that supports ONNX to evaluate the test data, or the [ONNX Runtime](https://pypi.org/project/onnxruntime/). I have opened up a PR (#107) to add clarification in the readme. Closing the issue now; please reopen if you have additional issues.

[2018-11-01 20:46] #78 closed

[2018-11-01 20:49] mx-iao commented on #73
@aoke79 please see the above example for guidance on processing the model output. Closing this issue now; please reopen if you need to.

[2018-11-01 20:49] #73 closed

[2018-11-02 06:05] cswwp opened #108 "how to get a middle hidden layer with this onnx model?"
Is there a function to  get a middle hidden layer with this onnx model? such as get the last conv layer in shufflenet  anyone help?

[2018-11-02 06:14] cswwp opened #109 "convert onnx/modelzoo/shuffnet.onnx failed"
I want to convert onnx model zoo shufflenet model.onnx to caffe2 init.pb and predict.pb, but it show error as follows:

File "demo.py", line 30, in
init_net, predict_net = c2.onnx_graph_to_caffe2_net(model)
File "/home/parker/anaconda2/envs/demo/lib/python3.6/site-packages/caffe2/python/onnx/backend.py", line 940, in onnx_graph_to_caffe2_net
return cls._onnx_model_to_caffe2_net(model, device=devic

[2018-11-02 17:28] linkerzhang commented on #91
This is not good. We'd remove these models if they're invalid. We can add them back after fixing those issues.

@snnn  are there more model issues you saw please? Thank you very much for bringing this up!

[2018-11-02 17:29] linkerzhang commented on #91
@ankkhedia

[2018-11-02 18:14] mathisdon opened #110 "Please post an ONNX LSTM model"
I have found no ONNX models containing an LSTM operator anywhere on the internet.  Please post one,

[2018-11-05 06:53] ankkhedia commented on #101
Closing the issue as the old model has been replaced by the fixed version.
@postrational Please feel free to re-open in case closed in error.

[2018-11-05 06:53] #101 closed

[2018-11-06 11:15] postrational commented on #101
The problem of the missing top level directory is resolved.

There is a second problem with this archive, that it contains MacOS artefact hidden files such as `._ResNet101_DUC_HDC.onnx`. Ideally these files would be removed prior to packaging the model.

[code]

[2018-11-07 16:21] blackrez commented on #103
Hello, I work with @owulveryck and I run the models with the following code :

[code]

And we got this results :

[code]

Can we consider the model is working ?

[2018-11-10 01:36] snnn commented on #91
@ankkhedia  Any update? Could you please confirm if these models have problems?

Thanks

[2018-11-12 17:34] ankkhedia commented on #91
I will check other models. However, Arcface issue has been fixed and I will update the new model.

[2018-11-13 10:44] bpinaya opened #112 "[Question] where do we upload the trained models?"
Hi there, been using ONNX and wanted to contribute on the FCN section. I saw that in the [template here](https://github.com/onnx/models/tree/master/models/image_classification/resnet) the weights point to https://s3.amazonaws.com/onnx-model-zoo, how do we upload there? Or should we send the models to you and you guys upload them?

[2018-11-13 15:06] prasanthpul commented on #112
We are looking at Git LFS so you would be able to submit on your own. But for now, you'll need to do a PR for the docs and send us the model package and it will be hosted on S3 or Azure Blob (https://onnxzoo.blob.core.windows.net/models/)

[2018-11-13 15:08] prasanthpul commented on #110
@guschmue I believe you have some

[2018-11-13 15:11] prasanthpul commented on #109
Looks like you are converting from ONNX to Caffe2? This looks like an issue in Caffe2 and should be raised in the Caffe2 GitHub. You can also make sure you are using the model corresponding to the ONNX version supported by Caffe2.

[2018-11-13 15:22] bpinaya commented on #112
Great, is there an email? I'll try to finish the readme this week, I can also put in on google drive and post the link when I submit the PR I think. Thanks for the info

[2018-11-13 15:22] #112 closed

[2018-11-13 15:36] idilsulo opened #113 "ValueError while executing imagenet_inference.ipynb"
When I run imagenet_inference.ipynb with the SqueezeNet given in this [link](https://github.com/onnx/models/tree/master/models/image_classification/squeezenet), it works without encountering any issues. However, when I run the same Jupyter Notebook with the SqueezeNet given by this [link](https://github.com/onnx/models/tree/master/squeezenet), I get the following ValueError:

[code]

What might be

[2018-11-13 15:56] guschmue commented on #110
let me think about something useful.

[2018-11-13 17:39] ankkhedia commented on #112
@bpinaya Thanks for your contribution! you can share the google drive link here and I can put the model in S3 for you.

[2018-11-13 17:52] ankkhedia commented on #113
@idilsulo The problem could be due to the input layer name getting used in the inference notebook. The input layer name is data in notebook whereas it is data_0 for this model-https://github.com/onnx/models/tree/master/squeezenet. Try changing the notebook input name to data_0 when running this model and this should work.

[2018-11-13 19:06] idilsulo commented on #113
I have changed 'data' to 'data_0' as you have suggested. Yet, the problem remains.

[2018-11-13 19:13] ankkhedia commented on #113
@idilsulo You can continue your work using the other squeezenet. Can you post the error log? Did you get same error?

[2018-11-14 18:47] ankkhedia commented on #91
Hi @snnn Could you please point to the problems with the above models you listed so that I can take a look.

[2018-11-14 19:11] snnn commented on #91
The inputs to GEMM operator, are not 2D tensors. They have more than 2 dimensions.

[2018-11-14 19:17] snnn commented on #91
Hi @ankkhedia After downloading the latest Arcface model, I'm getting a new error:

 Type parameter (T) bound to different types (tensor(float) and tensor(double) in node (_minusscalar0).

[2018-11-14 19:46] ankkhedia commented on #113
Hi @idilsulo
You can use following code snippet in the notebook while loading the model.
[code]
However, I am not sure about accuracy of the above model as it is not mentioned in the model description neither any preprocessing/post processing steps described.
I would suggest you to use the first model itself if that works for you.

[2018-11-14 19:51] snnn commented on #91
Hi @ankkhedia , do you have an estimated time of completion?

[2018-11-14 19:54] ankkhedia commented on #91
@snnn I will have to check with ONNX-MXNet converter team to be able to give a clear ETA.
I will update you on the same.
If the support has not been added, then it depends upon their roadmap on when the support will be complete. The team is working actively to get rigorous operator coverage.

[2018-11-14 22:29] prasanthpul commented on #91
@ankkhedia I think your last comment is about the other models. can you confirm whether arcface model has been fixed? Will you be posting a 1.3 version as well?

[2018-11-14 22:32] snnn commented on #91
The issue was already there 3 months, but we still don't know when it can be fixed?
From user experience perspective, ONNX user would think ONNX model zoo is low quality. I suggest we either fix it quickly, or delete the malformed models.

[2018-11-14 22:34] prasanthpul commented on #91
@snnn lets create separate issue for the other models. this issue is only for arcface.
for the other models, I agree that if we cannot fix them they should be removed for now.

[2018-11-14 22:35] ankkhedia commented on #91
@snnn @prasanthpul The model has been fixed and updated in the S3. I checked the model structure with Netron and float64 is not there anymore.

[2018-11-14 22:37] prasanthpul commented on #91
Thanks @ankkhedia. Looks like only 1.2 (opset7) version is posted. will you be posting 1.3 as well?

[2018-11-14 22:40] snnn commented on #91
Hi @ankkhedia , could please verify it?
I got the model from:
'https://s3.amazonaws.com/onnx-model-zoo/arcface/resnet100/resnet100.tar.gz'

It is still wrong.

[2018-11-14 22:42] ankkhedia commented on #91
@snnn Sorry for the miss. I uploaded renet100.onnx file I will change this tar too

[2018-11-14 22:55] ankkhedia commented on #91
@snnn added the latest tar file.

[2018-11-15 00:14] ryanlai2 commented on #91
Can we also modify ArcFace's README.md so that the table to download the model is correct?

Currently, there is only one download link for ArcFace and it's labeled as OpSet 7, v1.2.1. However, the link downloads an OpSet8 v1.3 version of the model.
https://github.com/onnx/models/tree/master/models/face_recognition/ArcFace

![image](https://user-images.githubusercontent.com/16694211/48521148-1c8ae2

[2018-11-15 00:31] ankkhedia commented on #91
updated :)

[2018-11-15 08:21] idilsulo commented on #113
Hello @ankkhedia
There is definitely a problem about the accuracies computed with respect to the code segment that you have mentioned, since it predicts the following probabilities regardless of whether I give the "kitten.jpg" or the "tabby.jpg" as an input:
[code]

I wanted to know why this is the case, since we will be keeping the models in the ONNX format for a project that I currently work in;

[2018-11-15 17:59] idilsulo commented on #113
As I have mentioned above, I am not specifically interested in this SqueezeNet model since I will be creating my own models with ONNX standard.

I will also check the other issues related to this problem that mentions duplicate models.

[2018-11-15 18:01] idilsulo commented on #82
For the case of SqueezeNet models, there are not only two different models, but also one of the models results in **poor accuracy values** when I execute it.

For the first SqueezeNet model the link is given as the following:
https://github.com/onnx/models/tree/master/models/image_classification/squeezenet

The probabilities that I get after executing this model is given below:
[code]

Whereas, fo

[2018-11-15 18:17] snnn commented on #82
Right now, I think, the top priority thing is getting them correct. All models here should conform to ONNX standard, and have a reasonable accuracy.  I don't think it's a good time point to dedup models. Let's close issues like: #90 first.

[2018-11-15 18:20] snnn commented on #91
Hi @ankkhedia , the old issue is fixed, but we get new one.
For the "relu0" node, its inputs has shape of [1, 64, 112, 112] and [64].  There is no broadcast rule can be applied on them.

[2018-11-16 21:50] snnn commented on #91
Hi @ankkhedia , Could you verify issue?

Thanks.

[2018-11-16 23:15] Roshrini commented on #91
Hi @snnn, I verified this issue on my end. We are actively working on both Prelu and Gemm issue mentioned and re-upload the models as early as we can. Thanks for reporting this and sorry for the inconvenience it has caused.

[2018-11-19 19:31] ebarsoum commented on #114
@mathisdon which version of the model? 1.3 takes (1,1,64,64) as input.

[2018-11-19 20:09] mathisdon commented on #114
Yes it's version 1.3 of the model.

Ok, maybe I see the answer. Is the batchsize, N, for this model actually equal to 1? If so, that would explain it, as the Reshape node that I'm talking about (node 42) reshapes its (1, 256, 4, 4) input to (1, 4096) in that case.

Does that imply that this model can only be run on single inputs at a time?

Thanks

[2018-11-19 20:30] YanYas opened #115 "Can't evaluate Onnx 1.2 models in CNTK 2.6"
Using Yolo v2 downloaded from the [model zoo](https://github.com/onnx/models/tree/master/tiny_yolov2), CNTK manages to load the model but on evaluation, it returns an error:

Any ideas why?

[2018-11-19 20:52] ebarsoum commented on #114
Most models in the zoo has batch value of 1, so yes you will need to run a single input at a time.

[2018-11-19 20:52] #114 closed

[2018-11-19 20:53] mathisdon commented on #114
ok thank you

[2018-11-19 22:20] ebarsoum commented on #115
Please move this issue to CNTK github.

[2018-11-19 22:20] #115 closed

[2018-11-20 01:12] YanYas commented on #115
Done https://github.com/Microsoft/CNTK/issues/3507#issuecomment-440028754
I'm not sure who this issue should be directed since these projects, from the outside, seem interlinked.

[2018-11-20 03:32] JerryShih opened #116 "question: How to convert MXNet model to onnx model?"
In this page[1], there are a lot of pre-trained onnx models and they work well. But how does these models come? Are these models from MXNet? Here is the MXNet document in the same page[2]. If I just convert the MXNet model to onnx using MXNet native onnx exporter, I can't get the same model as the model in [1].

[1]
https://github.com/onnx/models/tree/master/models/image_classification/resnet
[2]

[2018-11-20 03:38] JerryShih commented on #116
@houseroad @abhinavs95 @prasanthpul
Do you know how to generate the resnet models in the page[1]?

[1]
https://github.com/onnx/models/tree/master/models/image_classification/resnet

[2018-11-20 17:45] ankkhedia commented on #116
@JerryShih  You are correct the models in [1]1= has been generated using the training script [2].
The models have been generated from MXNet.
How are you trying to convert the MXNet symbols and params to ONNX models. Could you please post the code snippet so that we can help?

[2018-11-21 13:50] delzac opened #117 "emotion_ferplus model seems erroneous"
Hi,

i was running the emotion_ferplus model on CNTK. It seems like no matter what image i put in, the most probably emotion is always [0, 3, 1, 2, 4, 7, 6, 5] in those order.

I preprocess my image like the following:
[code]

Emotion is calculated using argsort and softmax.

[2018-11-21 19:30] ebarsoum commented on #117
@delzac what is in the input image? The input to this model should be the square output of a face detector.

[2018-11-22 01:37] delzac commented on #117
Thanks for highlighting! I tried again by manually cropping the faces out by hand, adn it didn't change the output (softmax score) materially.

I fed in also feed in a completely white image (a 1x1x64x64 array of ones) and that didn't change the softmax results materially too compared to the other face images.

It doesn't seem like the problem is with not using the output of a face detector.

[2018-11-29 14:43] xieydd opened #119 "Pre-Processing stage about the input?"
When i use the Tiny YOLOv2, i can download the sample test data, how can i convert a jpg to `input.pb`

[2018-11-29 21:56] ankkhedia commented on #91
Hi @snnn There are open PR to fix the above issues with Prelu and GEMM.
I have generated a model after including those fixes https://s3.amazonaws.com/onnx-model-zoo/arcface/resnet100/resnet100_new.onnx
Could you please let me know if this model looks good to you.

We will update the model once the PR are merged.

[2018-12-04 00:48] delzac commented on #117
Thanks a lot for the confirmation! Your tutorial is really helpful!

[2018-12-04 00:48] #117 closed

[2018-12-04 11:01] BruceDai opened #120 "What accuracy is used as the standard to meet the test?"
There is an **AssertionError error: Arrarys are not almost equal to 7 decimals (mismatch 90.5%) ...**,
when I use [onnx_tf.backend](https://github.com/onnx/onnx-tensorflow) to run below codes with [sample test data of SqueezeNet1.1 ONNX model](https://s3.amazonaws.com/onnx-model-zoo/squeezenet/squeezenet1.1/squeezenet1.1.tar.gz) following  [usage for Serialized protobuf TensorProtos format](https:

[2018-12-05 07:21] SreenijaK opened #121 "Mnist tf error"
this is how I'm calling mnist model:

import onnx
import warnings
from onnx_tf.backend import prepare

# Load the ONNX file
model = onnx.load(//path+"model.onnx')
tf_rep = prepare(model)

I get the following error: at prepare(model)

ValueError: Cannot reshape a tensor with 64 elements to shape [1,256] (256 elements) for 'Times212_reshape0' (op: 'Reshape') with input shapes: [1,16,2,2], [2] and wi

[2018-12-05 07:21] SreenijaK opened #126 "Mnist tf error"
#this is how I'm calling mnist model:

import onnx
import warnings
from onnx_tf.backend import prepare

model = onnx.load(//path+"model.onnx')
tf_rep = prepare(model)

#I get the following error: at prepare(model)

ValueError: Cannot reshape a tensor with 64 elements to shape [1,256] (256 elements) for 'Times212_reshape0' (op: 'Reshape') with input shapes: [1,16,2,2], [2] and with input tensors co

[2018-12-06 12:00] SreenijaK opened #122 "Error while using the yolo2_onnx model"
When I try this :
from Inference import Inference

b  =  Inference(modelName="yolo2",backend='tensorflow', device='CPU')
str_, time_cost = b.predict()

I get the following error:

Onnx file export [./onnx/yolo2.onnx]...start
Traceback (most recent call last):

  File "<ipython-input-103-b9aa0906a82c>", line 1, in <module>
    runfile('C:/Users/hi/Desktop/bp/onnx/yolo2_onnx/test4.py', wdir='C:/User

[2018-12-06 20:40] aceduce opened #124 "densenet and shufflenetv1 model low accuracy"
Hi, I ran most CNN models in the model zoo for onnx and achieve similar/reasonable accuracy for the imagenet test data.

1. but when it comes to [densenet](https://github.com/onnx/models/tree/master/densenet121) and [shufflenet,](https://github.com/onnx/models/tree/master/shufflenet) I saw the accuracy is very very low. For ShuffleNet, I always observe same results labels almost regardless of what

[2018-12-06 20:43] aceduce opened #123 "densenet and shufflenetv1 model low accuracy"
Hi, I ran most CNN models in the model zoo for onnx and achieve similar/reasonable accuracy for the imagenet test data.

1. but when it comes to [densenet](https://github.com/onnx/models/tree/master/densenet121) and [shufflenet,](https://github.com/onnx/models/tree/master/shufflenet) I saw the accuracy is very very low. For ShuffleNet, I always observe same results labels almost regardless of what

[2018-12-06 23:54] prasanthpul commented on #124
dupe of #123

[2018-12-06 23:54] #124 closed

[2018-12-10 02:54] BruceDai commented on #120
@bddppq @houseroad What are your opinions? Thanks.

[2018-12-12 01:39] BruceDai commented on #120
I also use [ONNX Runtime](https://github.com/Microsoft/onnxruntime) to get output
[code]

[2018-12-15 12:14] 8greg8 commented on #64
@sgarcia22 can you please tell me how did you process the mean and std?

I'm using      [https://github.com/BVLC/caffe/blob/master/python/caffe/imagenet/ilsvrc_2012_mean.npy](url) but this doesn't seem to work.

Also which code to label mapping did you use?

[2018-12-17 17:51] WilliamTambellini commented on #110
+1 for a minimalist example onnx model with at least 1 rnn op (lstm or gru), whatever the task done by the NN.
I ve seen that discussion on pytorch forum :
https://discuss.pytorch.org/t/request-for-minimal-example-of-exporting-recurrent-models-rnn-lstm-gru-to-onnx/21694

[2018-12-17 17:58] WilliamTambellini commented on #105
It would perhaps be easier to export a 'SyncNet' model :
https://github.com/mravanelli/SincNet
https://www.youtube.com/watch?v=mXQBObRGUgk&feature=youtu.be
There is a pytorch/kaldi implementation over there :
https://github.com/mravanelli/pytorch-kaldi

[2018-12-18 13:20] avik-pal opened #125 "Preprocessing for Densenet121"
What are the exact preprocessing steps for getting proper predictions of the DenseNet model?

[2018-12-21 05:49] WilliamTambellini opened #127 "Add DocumentClassification.onnx to the zoo ?"
Hi, There is over there an onnx version of the simple but humble document classification model from Todd Kramer that could perhaps be added to the onnx zoo :

https://github.com/toddkramer/DocumentClassifier
http://www.tekramer.com/machine-learning-in-swift-document-classification-with-core-ml
in onnx format:
https://github.com/lutzroeder/netron/files/2592479/DocumentClassification.onnx.zip
ONNX v

[2019-01-09 15:44] xiaotiancd opened #129 "could big-GAN model be supported?"
the paper is here:
https://openreview.net/pdf?id=B1xsqj09Fm

Thank you!

[2019-01-09 22:50] vandanavk commented on #87
This should be fixed with PR https://github.com/apache/incubator-mxnet/pull/13356.

[2019-01-09 22:50] vandanavk commented on #93
This should be fixed with PR apache/incubator-mxnet#13356.

[2019-01-09 23:47] snnn commented on #93
So, someone will update the models here?

[2019-01-09 23:49] ankkhedia commented on #93
@snnn I will update the models after generating them with this fix.

[2019-01-09 23:57] lutzroeder commented on #93
The actual issue seems to be there are duplicate VGG19 models in the zoo (see above). How does "updating" the files resolve this issue? Shouldn't one set be removed or the `README.md` files be updated to clarify?

[2019-01-10 00:01] ankkhedia commented on #93
@lutzroeder This is about @snnn comment about issues with MXNet generated models.
Regarding duplicate models, the models have been generated from different frameworks and there is no clear consensus as to remove the models or keep both in same folder and differentiate on basis of names

[2019-01-10 00:05] #113 closed

[2019-01-10 00:05] #59 closed

[2019-01-10 00:06] #54 closed

[2019-01-10 00:36] snnn commented on #120
For  ONNX Runtime, we use:
tol = 1e-3;
rtol= 1e-5;
ref: https://github.com/Microsoft/onnxruntime/blob/master/onnxruntime/test/onnx/TestCase.cc#L402

[2019-01-10 20:30] tjingrant commented on #87
@vandanavk seems like the model in the model zoo is not yet updated.

[2019-01-15 22:12] ankkhedia commented on #87
Hi @tjingrant I have updated the model in the model zoo.Could you please verify it?
I am closing the issue as the models have bene fixed.

Please feel free to re-open in case issue persists

[2019-01-15 22:12] #87 closed

[2019-01-15 22:14] ankkhedia commented on #90
The issue has been fixed and new model uploaded to the model zoo.
So, closing the issue
Please feel free to re-open if closed in error.

[2019-01-15 22:14] #90 closed

[2019-01-15 22:17] ankkhedia commented on #93
@snnn The models has been uploaded after the fix.

[2019-01-16 07:31] houseroad commented on #120
by default, we use atol=1e-7, rtol=1e-3 in onnx repo. You can find more details here: https://github.com/onnx/onnx/blob/master/onnx/backend/test/case/model/__init__.py#L49

[2019-01-16 22:54] mx-iao commented on #103
@blackrez, up to 3 decimal places is as expected

[2019-01-17 02:27] batwicket opened #130 "bert pretrained model"
hi..

I'm having difficulty determining the ONNX input arguments for a bert pretrained model. The case is documented using a slight variant of a standard example from HuggingFace's PyTorch project at [StackOverflow](https://stackoverflow.com/questions/54220042/how-do-you-generate-an-onnx-representation-of-a-pytorch-bert-pretrained-neural-n). Probably a minute or two to someone that is familiar wit

[2019-01-18 16:19] mathisdon commented on #110
I believe that there are no valid ONNX files in existence that contain LSTM layers. I would love to see an ONNX file containing LSTMs that can be imported into onnx-tf. I believe there are none, Would someone like to prove me wrong? I would apreciate it. Thanks

[2019-01-18 22:33] prasanthpul commented on #110
Internally we have a number of LSTM and GRU models converted from TF thanks to the https://github.com/onnx/tensorflow-onnx converter. Unfortunately most of them cannot be shared externally. @mx-iao is working to identify some that can be posted to the model zoo.

[2019-01-18 22:53] guschmue commented on #110
how about a mnist using lstm ?

[2019-01-24 10:50] sunejas commented on #119
Hi @xieydd
Could you share how converted a jpg to input.pb?
Did you do any mean subtraction/normalization as well?

[2019-01-25 00:49] Casablancaaa commented on #119
@xieydd  could you share the method of transformation? thanks.

[2019-01-25 01:15] YanYas opened #131 "Converting input_0.pb files to floats in c#"
Hi, I'm trying to infer the MNIST (and others) model with my input. I'm not sure about the results so I would like to read the data from the .pb that comes with it and inspect the data to get an understanding of the relationship between the input and output of my data to know that it is reliable (or not).

However, so far I have been unable to deserialize the .pb files successfully. Is there a gui

[2019-01-25 03:31] Casablancaaa commented on #119
@sunejas  https://github.com/onnx/onnx/blob/master/docs/PythonAPIOverview.md

[2019-01-25 06:32] sunejas commented on #119
Thanks for sharing the link @Casablancaaa

This preprocessing function worked for me: https://github.com/onnx/models/blob/master/models/image_classification/resnet/README.md#preprocessing

And im calling the preprocess function in the following manner:

[code]

[2019-01-25 19:39] prasanthpul commented on #131
Take a look at https://github.com/onnx/models#usage- for example on how to read the .pb files containing sample data that come with the models.

[2019-01-26 13:44] YanYas commented on #131
Hi and thanks @prasanthpul. The trouble is I'd like to emulated the "tensor.ParseFromString" function in c#. I'm not using the onnx runtime but CNTK, which doesn't have a function for deserializing the pb files.

[2019-01-28 07:19] WilliamTambellini commented on #110
The "docnn" example from pytext seems to embed a lstm cell :
https://github.com/facebookresearch/pytext
but the onnx export (at least for that model) is currently a little buggy :
https://github.com/facebookresearch/pytext/issues/248

[2019-01-29 00:55] mathisdon commented on #110
No. It has now been theee months. I do not believe that the onnx lstm spec is workable. There are no examples of a transfer from one franework to a different franework. This is not a good sign for the future of onnx.

[2019-01-29 21:40] WilliamTambellini commented on #110
microsoft onnxruntime has a LSTM example :
onnxruntime/onnxruntime/test/testdata/CNTK/test_LSTM.tanh.bidirectional/model.onnx
https://github.com/Microsoft/onnxruntime/tree/master/onnxruntime/test/testdata/CNTK/test_LSTM.tanh.bidirectional

[2019-01-30 22:42] WilliamTambellini commented on #110
Someone is trying to export the GNMT model to onnx :
https://github.com/onnx/onnx/issues/1778
it s recurrent based embedding some LSTM cells.
WIP...

[2019-01-30 23:10] guschmue commented on #110
hm, we could try to export gnmt via tensorflow model but I think this will use dynamic lstm which uses control flow and not the lstm op.

[2019-01-31 16:55] JimyMa opened #133 "onnx.shape_inference.infer_shapes(squeeze) not complete"
I want to get inner node output to analyze my onnx graph, which is downloaded in https://github.com/onnx/models/tree/master/squeezenet. However, when I code as follow:
[code]
I only get the first node output.
But the second node is just a relu op, but its output is not in value_info container.
Could I solve this problem easily? Or I should write a shape_inference by my self ?

[2019-02-06 03:30] WilliamTambellini commented on #110
[docnn-130.onnx.zip](https://github.com/onnx/models/files/2834757/docnn-130.onnx.zip)
as obtained by running the docnn example from pytext
https://github.com/facebookresearch/pytext
and exporting to onnx via pytext/pytorch.
There is a LSTM cell but unclear yet if needing control flow...
tbc

[2019-02-07 23:53] valavakilian opened #134 "How to use ONNX to implement tinyYolo on hololens ?"
Hi. I'm trying to run both segmentation and object detection on a Hololens device.
I am able to access the research mode for Hololens but I cannot do on device inference because most of my trained models are in pytorch. I wanted to see if ONNX can help me with this task.
I understand that the mask-RCNN and Yolov2 are not developed for ONNX so far. But I can't seem to understand how to run the tiny

[2019-02-08 00:09] prasanthpul commented on #134
You can get the pre-trained TinyYOLO model from the ONNX model zoo: https://github.com/onnx/models/tree/master/tiny_yolov2
You can run ONNX models on HoloLens using WinML: https://docs.microsoft.com/en-us/windows/ai/

Support for more object detection models is in the works and PyTorch export is also being improved.

[2019-02-11 13:47] MitchVonk opened #135 "ArcFace model csharp InferenceSession"
Following the steps of the csharp Inference Example I'm trying to implement the ArcFace model.
Doing the same thing with Emotion FerPlus model does work, however the following error occurs for the ArcFace model and I am clueless:

' [ErrorCode:Fail] c:\agent_work\6\s\onnxruntime\core\providers\cpu\math\element_wise_ops.h:353 onnxruntime::BroadcastIterator::Init axis == 1 || axis == largest was fal

[2019-02-11 18:14] snnn commented on #135
#91

[2019-02-12 07:40] MitchVonk commented on #91
I would suggest you update this new model to the Zoo aswell

[2019-02-12 14:44] ls0h opened #136 "Low GPU utilization"
Hi!

I'm trying to use MTCNN face detector from this example: https://github.com/onnx/models/blob/master/models/face_recognition/ArcFace/arcface_inference.ipynb
The detector works, but GPU usage is very low, only about 14%.
And it gives out only 6 FPS for FullHD image.

Why is the detector so slow? How to make it use 100% of GPU?

Here is my code:
`import time
import cv2
import mxnet as mx
import

[2019-02-13 00:40] leimao opened #137 "Does the test data only have one sample in each pb file?"
Hi,
I am downloading onnx models together with its test data. I want to confirm if in each pb file, the data is only corresponding to one single sample. For example, the output pb file for squeezenet is 4KB, which matches to the size of 1000 floating point values. The squeezenet also outputs probabilities for 1000 objects.
Best,
Lei

[2019-02-13 18:25] snnn commented on #91
Hi @ankkhedia , would you please put the new model in  https://github.com/onnx/models/tree/master/models/face_recognition/ArcFace ?

[2019-02-13 18:39] ankkhedia commented on #91
I have updated the model in https://s3.amazonaws.com/onnx-model-zoo/arcface/resnet100/resnet100.onnx

Could you please verify?

[2019-02-13 18:42] snnn commented on #91
Hi @ankkhedia
https://s3.amazonaws.com/onnx-model-zoo/arcface/resnet100/resnet100.tar.gz is not updated.

[2019-02-13 18:46] snnn commented on #137
As far as i can see, yes.

[2019-02-13 18:48] ankkhedia commented on #91
My bad. Updating the same

[2019-02-13 18:52] snnn commented on #91
And this https://s3.amazonaws.com/onnx-model-zoo/arcface/resnet100/resnet100-md5.txt ?

[2019-02-13 19:00] ankkhedia commented on #91
@snnn
uploaded resnet100.tar.gz and resnet100-md5.txt now.

[2019-02-13 19:04] snnn commented on #91
Perfect. Thanks!

[2019-02-13 19:04] #91 closed

[2019-02-13 19:39] leimao commented on #137
Thanks. I wish the pb file could contain more samples.

[2019-02-13 19:55] snnn commented on #137
Not just a data problem. Most models do not support that.

[2019-02-13 20:07] leimao commented on #137
Could you please elaborate on that? I am new to ONNX. Do you mean ONNX model only support batch size 1 for inference?

[2019-02-13 20:45] snnn commented on #137
No.

Run this script with your model
[code]

It will print out the model's input/output shape.
If the shape is something like:
[code]
It doesn't support mini-batch.
On the other hand, it can support it only when the first dimension doesn't have a  dim_value.

[2019-02-13 20:45] #137 closed

[2019-02-15 02:51] XinyuDu opened #138 "How to convert a arcface mxnet model to onnx model?"
I want to convert a arcface mxnet model to onnx format.  I followed the tutorial ([How to use MXNet to ONNX exporter API](https://mxnet.incubator.apache.org/versions/master/tutorials/onnx/export_mxnet_to_onnx.html)). Any suggestions? Thx.

[code]

error information as follow:
[code]

[2019-02-18 06:40] XinyuDu commented on #138
I figured it out. The mxnet model should be slimmed by cutting the last fc layer before convert to onnx.
Run the model_slim.py in deploy folder to get the slimmed model.

[2019-02-18 06:40] #138 closed

[2019-02-19 09:01] XinyuDu commented on #91
@ankkhedia Hi, How can convert the arcface mxnet model to onnx model without the float64 error? THX!

[2019-02-19 12:17] tsocha opened #140 "ResNet101_DUC_HDC can have invalid test_data."
During testing models from model zoo I realized that onnxruntime and ngraph give similar results on `ResNet101_DUC_HDC` but still have 80% missmatch.
Is it possible that test data for `ResNet101_DUC_HDC` are invalid?

[code]

[2019-02-26 10:41] owulveryck commented on #103
The bug was in hidden in the backend I am using (Gorgonia in Go) and has been fixed; I am closing this issue.

Thank you for your help.

[2019-02-26 10:41] #103 closed

[2019-02-28 09:35] owulveryck commented on #76
Hello,

Do you know where I can find a reference implementation of the `ImageScaler` operator? I need to implement it into [Gorgonia](https://github.com/gorgonia/gorgonia) to use the model with [ONNX-Go](https://github.com/owulveryck/onnx-go).

[2019-03-02 20:11] #127 closed

[2019-03-03 22:53] prasanthpul commented on #76
https://github.com/Microsoft/onnxruntime/ implements it.

[2019-03-04 02:46] ebarsoum commented on #76
Here the implementation: https://github.com/Microsoft/onnxruntime/blob/master/onnxruntime/core/providers/cpu/tensor/image_scaler.h

[2019-03-06 18:57] snnn commented on #135
Hi @MitchVonk
Is your problem solved?

[2019-03-06 18:59] snnn commented on #131
Did you try this lib:
https://developers.google.com/protocol-buffers/docs/csharptutorial

[2019-03-06 19:02] snnn opened #141 "caffe2 models for opset11"
Hi,

I think we need to update the models converted from caffe2.
Like:
https://github.com/onnx/models/tree/master/bvlc_alexnet

Because the latest ONNX master code, is using opset 10.
Either we change
[code]
To
[code]
Or,
[code]

[2019-03-07 00:53] cheers00 opened #142 "image missing error for Tiny YOLOv2"
Hi, I tried to run Tiny YOLOv2 with onnxruntime perf_test program and I get an error with message image is missing. There are three test_dataset folders and I am wondering where to get the rest of the data.

[2019-03-07 07:35] #135 closed

[2019-03-07 07:36] MitchVonk commented on #135
Downloaded the new model and it all works fine now! Thanks though!

[2019-03-08 21:49] ahmedhosny commented on #123
I hope we can reopen this one. I can confirm getting similar results for ShuffleNet with mxnet backend: it seems stuck on the same results regardless of input. I tried normalizing, centering, and standardizing the input with no avail. The same is true for all 4 versions of shufflenet.onnx. It outputs the following 2 labels for almost all images I tested with:

[code]

Here is a minimal code snippe

[2019-03-13 07:34] Ashutosh1995 opened #143 "Print weights of model loaded from Pytorch model to ONNX`"
I am loaded a semantic segmentation model from Pytorch to ONNX. I wanted to check whether the difference of the weights is zero or not so as to get an idea whether weight conversion is happening correctly.

Is there any way to do that ?

[2019-03-13 21:47] ankkhedia commented on #123
@bddppq  @houseroad Could you please take a look into the same ?

[2019-03-16 08:07] #93 closed

[2019-03-18 19:06] YanYas commented on #131
Got there eventually. For those interested you need to compile c# classes .cs file from the [onnxproto3 ](https://github.com/onnx/onnx/blob/master/onnx/onnx.proto3)file using this [little compiler program.](https://github.com/protocolbuffers/protobuf/releases/tag/v3.7.0) (in my case _protoc-3.7.0-win64.zip_) This class, used in conjunction with [Google protocol ](https://www.nuget.org/packages/Goo

[2019-03-18 19:06] #131 closed

[2019-03-18 22:38] YanYas opened #144 "input pb data for may not be what people expect"
Hi, having had difficulty getting satisfying results from tiny yolo I [tried loading](https://github.com/onnx/models/issues/131#issuecomment-474059096) and previewing the example data I was a bit surprised when I saw this was the result of the 416x416 image:

![protobufattempt-DirectX Renderer_2019 03 18-22 24 29](https://user-images.githubusercontent.com/9497052/54567697-9c8aaa00-49cc-11e9-95e8-6

[2019-03-18 22:42] YanYas commented on #144
I'm not sure what squeezenet should be interpreting from here either:

![protobufattempt-DirectX Renderer_2019 03 18-22 40 51](https://user-images.githubusercontent.com/9497052/54568393-e2e10880-49ce-11e9-83f9-57c7b18b6a9c.png)

What should the correct pixel dimension be in this case, if at all?

[2019-03-30 03:25] qigtang commented on #17
@houseroad any status update on mask-rcnn export?

[2019-04-01 00:15] houseroad commented on #17
I think @linkerzhang is working on it. Any update?

[2019-04-01 06:40] mnboos opened #146 "model checker raises ValidationError for ResNet-18 from model zoo"
See: https://github.com/pytorch/pytorch/issues/9375

I tried the ResNet-18 (https://github.com/onnx/models/tree/master/models/image_classification/resnet) with the model checker:

[code]

Why does this fail with a model officially available in the model zoo? Is it safe to just not check models? If so, then why is there even some model checking functionality?

[2019-04-01 10:24] nomaddo opened #147 "ONNX Model of `Tiny YOLOv2` violate Naming Convension"
In the model of TINY_YOLOv2, the root node has name "15fb3d9ea39f4068ad44a49de20faedc", which violate the following specification.
https://github.com/onnx/models/tree/master/tiny_yolov2

https://github.com/onnx/onnx/blob/master/docs/IR.md#names-within-a-graph

[2019-04-01 11:49] #53 closed

[2019-04-01 19:51] prasanthpul commented on #147
@EmmaNingMS please take a look at why it was converted this way

[2019-04-02 00:01] hannibalhuang commented on #146
@prasanthpul yes our team is currently working on developing the CI system, checker could be included in the system

[2019-04-05 23:17] abhinavs95 commented on #146
Hi @mnboos I am not able to reproduce your error. I am using a mac and the your test works fine. It looks like you are using windows. Unfortunately I do not have a windows machine to test on.

Could you provide which onnx version you are using? I am using 1.4.1

[2019-04-08 06:41] mnboos commented on #146
Ohoh, apologies! For some reason, I was still using an older version. After upgrading to 1.4.1 the error is gone. Thanks and sorry for wasting your time!

[2019-04-08 06:41] #146 closed

[2019-04-17 12:08] mama110 opened #150 "android app"
I've download the tiny-yolov2 onnx, how can I import the file into android studio? Thanks.

[2019-04-22 22:00] kubansal commented on #17
Hi @linkerzhang did you get a chance to have a look on the same

[2019-05-02 15:25] Guillaume98765 opened #155 "Model Yolov3 Import error with mlgen"
When I try to add your yolov3 model in Visual Studio 2017 + AI Tools (up to date) I have the following error message :

mlgen failed: Node:Resize No Op or Function registered for Resize with domain_version of 10

[2019-05-02 19:40] youngkim93 commented on #155
Hi @Guillaume98765 , the visual studio could not generate the file because there is an operator with version 10 is incompatible with the current release of windows. Could you try using the model with onnx version 1.3?

[2019-05-02 21:37] #134 closed

[2019-05-03 01:36] hariharans29 opened #156 "ArcFace model query"
Hello,

Was setting the `spatial` attribute to 0 in the BatchNormalization nodes of the [ArcFace](https://github.com/onnx/models/tree/master/models/face_recognition/ArcFace) intended ? A [user](https://github.com/Microsoft/onnxruntime/issues/831) notes that setting spatial=1 returns the right result as well. So trying to understand if setting `spatial = 0` (the non-default value) for the opset 8 m

[2019-05-03 12:45] Guillaume98765 commented on #155
Hi @youngkim93, I understand, previous models worked well. What are the requirements to use this one if possible ?

[2019-05-04 05:52] prasanthpul commented on #155
What platform do you need to run this on? The model runs correctly with the ONNX Runtime (https://github.com/microsoft/onnxruntime)

[2019-05-11 00:23] KeDengMS commented on #110
Added [BiDAF](https://github.com/onnx/models/pull/157) model, which has 5 layers of bidirectional LSTMs.

[2019-05-11 01:10] #110 closed

[2019-05-11 19:08] aslam6892 opened #158 "Arcface_inference"
![error](https://user-images.githubusercontent.com/45939025/57573934-73751b80-7449-11e9-84ae-818791bc80f3.png)

On this line

out1 = get_feature(model,pre1)

it can't compute embeddings....... The error is attached above... Thanks for help

[2019-05-13 12:41] postrational commented on #140
Is there a way to submit updated test data for review?

[2019-05-14 23:14] abhinavs95 commented on #158
Hi @aslam6892 , I tried to reproduce your error in a fresh conda environment but am unable to do so.

Have you setup your environment properly? You can refer to the "Prerequisites" section in the beginning of the notebook for instructions.

[2019-05-15 18:17] mollu5k opened #160 "Test data the same across files and folders"
I am attempting to extract the input and output from the "test_data_X.npz" files that are included in the compressed folders for each of the classification models. Regardless of which .npz file I use, the input image and output classification are always the same. Are all these files supposed to hold the same input and output data, and if so why are they all the same?

[2019-05-20 04:29] mnboos opened #161 "DUC produces only noise"
I'm trying to get the DUC to work. Unfortunately, it produces only colored noise (see picture below). Can this be a result of the pictures being smaller (e.g. 224x224 px)?

![2019-05-16 13_08_35-Photos](https://user-images.githubusercontent.com/22575883/57996561-79fa3780-7ac8-11e9-8c0b-b1ccfb7096ad.png)

[2019-05-20 09:16] Guillaume98765 commented on #155
@prasanthpul My goal is to use it on Hololens, I'll try ONNX Runtime.

[2019-05-20 19:21] pranavsharma commented on #156
@abhinavs95 Any update on this?

[2019-05-21 19:57] abhinavs95 commented on #156
Hi @hariharans29 @pranavsharma

The ArcFace model was prepared using MXNet and then converted to ONNX format using the MXNet to ONNX converter.

For BatchNorm, MXNet computes mean and variance per feature which is why we explicitly set `spatial=0` when translating BatchNorm layers from MXNet to ONNX.

[2019-05-23 21:12] cmrace opened #162 "tiny_yolov2 wrong output size?"
I'm trying to run tiny yolo using onnx-tf, and I'm not getting the right output size. According to the documentation (and the reference set), it should be 125x13x13, but I'm getting 125x6x6 regardless of which input I use (all from the test data). Is this an expected result?

[2019-05-23 22:08] prasanthpul commented on #162
We regularly run that model properly using ONNX Runtime (https://github.com/Microsoft/onnxruntime). So this may be an issue with onnx-tf. Transfering the issue to onnx-tf repo

[2019-05-24 21:12] abhinavs95 commented on #161
Hi @mnboos I tried running the notebook duc-inference.ipynb with the default input image (city1.png) but resized to 224x224 and its working fine. Could you provide the image you are trying with?

[2019-05-27 06:00] mnboos commented on #161
I used the same image, that was used in the demo.

What I did change though, is to use the Microsoft onnxruntime instead of mxnet. Would you mind trying this?

My code looks like this (pre- and postprocessing were used exactly like in the demo):

[code]

[2019-06-03 09:29] owulveryck commented on #76
I think I may have been too slow to implement it;
it looks like the ImageScaler op has disappeared from the experimental operator list and from the onnxruntime implementation.
The problem is now that the tiny yolo v2 in the model zoo is using an unknown operator.

[2019-06-03 16:04] prasanthpul commented on #76
Thanks for bringing this up. ImageScaler was experimental and has since been removed (it can be decomposed as Mul+Add). ONNX Runtime still supports ImageScaler op due to backwards compatibility requirements, however we do need to update the model zoo model to not use it. @EmmaNingMS

[2019-06-03 16:24] linkerzhang commented on #76
yes, ONNXRUNTIME still supports the ImageScaler till opset 10 for backward compatibility.

[2019-06-03 18:51] snnn commented on #144
No. It's not. It's random data, meaningless.

[2019-06-04 19:13] ac4922 opened #164 "Getting onnxruntime error when running the inference session"
I am trying to run the inference with the below code :--

sess = rt.InferenceSession(model_onnx_file)
x = cv2.imread('Objectives.png')
x= cv2.resize(x, (224,224))
x = x[numpy.newaxis, :, :, :]
x= x.astype(numpy.float32)
print(x.shape)
predicted_value = model_inference_session.run(None, {input_name: x})[0]

This is what I am trying to do after downloading the onnx file from the master version.

I a

[2019-06-04 19:19] prasanthpul commented on #164
which model are you using?

[2019-06-04 19:21] ac4922 commented on #164
VGG19

[2019-06-04 19:21] ac4922 commented on #164
VGG19

[2019-06-04 19:52] pranavsharma commented on #164
The error message clearly says - Input channels C is not equal to kernel channels * group. C: 224 kernel channels: 3 group: 1. This can be resolved by fixing the shape of your input. @hariharans29

[2019-06-04 19:58] hariharans29 commented on #164
Hi @ac4922,

* When you do `print(x.shape)`, is your input shape [1, 224, 224, 3] ? According to the [documentation]
   (https://github.com/onnx/models/tree/master/vgg19), the shape of the input tensor needs to be [1,3,
   224, 224].

* Since channels are in the last dimension, you need a transpose of some sort like this - np.transpose(img_data, [2, 0, 1]) *before* you add the batch dimension.

In

[2019-06-04 20:04] prasanthpul commented on #164
Thanks @hariharans29

@ac4922 i'll close the issue here since this does not seem like an issue with the ONNX model. suggest you open an issue for ONNX Runtime at https://github.com/microsoft/onnxruntime if you would like to see improvements in the error message.

[2019-06-04 20:04] #164 closed

[2019-06-04 20:18] ac4922 commented on #164
Thank you :) 👍

[2019-06-04 20:18] ac4922 commented on #164
Sure . Thank you :) 👍

[2019-06-05 00:09] saurabh-shandilya opened #165 "Detection Quality of SSD model"
I have been trying to reproduce the mAP score of 0.195 with COCO 2017 validation dataset for the model at https://github.com/onnx/models/tree/master/ssd with onnruntime as backend. I am pre-processing the input image as described in the link.

Here are the details of my environment
a) python3.6, on windows
b) onnx version 1.5 (opset 10)
c) onnx runtime version 0.4.0 (compatible with opset 10)

Bef

[2019-06-05 00:17] prasanthpul commented on #165
@hariharans29

[2019-06-05 01:40] BowenBao commented on #165
hi @saurabh-shandilya, I got the following result for your example image, doesn't seem very off. Could you share how you convert the results to coco format?

![sample-det](https://user-images.githubusercontent.com/9376104/58924096-4b4ea480-86f7-11e9-9170-6888563fcd48.jpg)

[2019-06-05 02:42] saurabh-shandilya commented on #165
@BowenBao

Thanks for a quick response. Here is my code

[code]

[2019-06-05 03:28] BowenBao commented on #165
@saurabh-shandilya the output for this model is (xmin, ymin, xmax, ymax), could you update your script and see if that helps? We'll update the instructions to be more specific.

[2019-06-06 01:02] saurabh-shandilya commented on #165
@BowenBao Finally I am able to get decent detection. For the first 100 images in val2017, I am getting a COCO mAP score of 0.252 (Average Precision  (AP) @[ IoU=0.50:0.95 | area=   all | maxDets=100 ] = 0.252)

Changes needed were
a) curr_bbox=curr_bbox1[:,[1,0,3,2]] (xmin, ymin, xmax, ymax) interpretation as you suggested. So I did
curr_bbox=curr_bbox[:,[1,0,3,2]] in the code above

b) class inte

[2019-06-06 01:50] saurabh-shandilya commented on #143
@Ashutosh1995
you can check this
https://github.com/onnx/onnx/issues/1425

[2019-06-06 15:28] saurabh-shandilya commented on #165
@BowenBao Here is what I am getting now. Not much difference between 0.196 and 0.195, so I guess we can close this. Thanks again for quick responses.

 Average Precision  (AP) @[ IoU=0.50:0.95 | area=   all | maxDets=100 ] = 0.196
 Average Precision  (AP) @[ IoU=0.50      | area=   all | maxDets=100 ] = 0.375
 Average Precision  (AP) @[ IoU=0.75      | area=   all | maxDets=100 ] = 0.180
 Average

[2019-06-06 15:28] #165 closed

[2019-06-06 17:24] saurabh-shandilya opened #166 "Constant Folding Possibility in SSD ONNX Model"
The SSD model at https://github.com/onnx/models/tree/master/ssd  has several instances of Reshape getting a shape input which can be converted to a  constant e.g.

![subgraph](https://user-images.githubusercontent.com/40773275/59052804-cb365500-8844-11e9-90de-c01b29b335c6.jpg)

Is it possible to fold such sub-graphs which result in constant tensors either in pytorch or in ONNX ? Does current ONNX

[2019-06-06 17:55] prasanthpul commented on #166
Your inference engine will usually do the applicable optimizations. ONNX Runtime can do constant folding, for example

[2019-06-06 19:27] pranavsharma commented on #156
@abhinavs95 can this model be updated to use spatial=1? The ONNX standard has dropped support for spatial=0 from opset10 onwards and onnxruntime doesn't plan to support this.

[2019-06-07 00:39] saurabh-shandilya commented on #166
@prasanthpul
I am working with Glow, which doesn't support this kind of folding at this time. Does ONNX optimizer support it?

[2019-06-07 12:27] owulveryck opened #167 "deprecated attributes in the models from the zoo"
Hello,

**TL;DR:** is there a plan to remove the deprecated attributes? Shouldn't we ensure that all new uploaded models do not use any deprecated attributes?

**Longer:** In the IR, the `auto_padding` is deprecated in most of the operators.
The problem is that a lot of backends is still using it, and some of the models from the zoo are using this attribute for `maxpool` or `convolution`.

We may

[2019-06-07 18:36] prasanthpul commented on #167
Depends on the opset you are trying to be compatible with. ONNX Runtime, for example, supports all opsets 7 and higher.
In the model zoo, the models are marked to indicate which opset they are based on.

When new models are uploaded, they should be validated against the opset they claim to be. (Note, we dont have this type of automated checking currently but its on the wish list)

[2019-06-07 22:31] prasanthpul commented on #167
If there are deprecated attributes in the definition of an op for a given opset, I agree we should address that. Probably we shouldn't have deprecated attributes because it's confusing as to whether it should be implemented. We need to be more clear about the spec. @onnx/sig-operators should address this

[2019-06-07 23:29] abhinavs95 commented on #161
I tried running on onnxruntime but faced the following error:
[code]

Do I need to run it on a GPU?

[2019-06-07 23:36] abhinavs95 commented on #156
The spatial parameter is set to 0 in the MXNet to ONNX converter probably due to behavior of MXNet batchnorm: https://github.com/apache/incubator-mxnet/blob/745a41ca1a6d74a645911de8af46dece03db93ea/python/mxnet/contrib/onnx/mx2onnx/_op_translations.py#L357

I'll try to see if this model can be converted with spatial=1.

[2019-06-08 06:46] mnboos commented on #161
Yes

[2019-06-10 08:55] lyd911 opened #168 "Some concerns before the implementation of the Model Zoo CI"
### About the ONNX Model Zoo CI Proposal

Sorry for the delay, and we will kick off our jobs based on the proposal submitted on April. Though getting positive feedbacks from the ONNX community, some questions still remains regarding this proposal before actual implementing.
I list some questions that the OpenLab team comes up with and want to hear the community’s idea:

1. The current ONNX model z

[2019-06-10 15:12] prasanthpul commented on #168
We've been looking at enabling GIT LFS. That way the model binaries can be stored in Github as well instead of on external location and providing a URL. By being in Github, you should be able to trigger CI when files change. Would this simplify the CI system development?

[2019-06-11 01:28] wangxiyuan commented on #168
@prasanthpul  that's the best way!

[2019-06-11 13:25] kali opened #170 "BidAF weird shapes around Compress operator"
First of all, thanks @KeDengMS for the work on the BidAF model, it is a great addition to the zoo-as-a-test-suite.

I'm struggling a bit trying to get it through tract. I think there may be an encoding error that some backend implementation chose to ignore silently at the very end. Unless I'm missing something, of course.

[code]

According to its specification, onnx compress second input is suppo

[2019-06-11 15:22] KeDengMS commented on #170
Glad the model would help you. [Hardmax](https://github.com/onnx/onnx/blob/master/docs/Operators.md#Hardmax) creates a one-hot tensor, which means in the length of 87, all elements are zero except for a 1 at the max value position. Then [Compress]() would use the hardmax output as condition, and extract the value from input at the max value position. Because of combination of Hardmax and Compress,

[2019-06-11 15:59] kali commented on #170
My problem here is with the "condition" input of Compress. I would be expecting a rank-1 boolean input, per spec here: https://github.com/onnx/onnx/blob/master/docs/Operators.md#inputs-17

[2019-06-12 06:44] KeDengMS commented on #170
You are right, condition of Compress needs to be 1D. There's a missing reshape for the condition. I've updated the model.

[2019-06-12 07:39] kali commented on #170
Thanks for the quick fix !

[2019-06-12 11:23] kali commented on #170
Sorry to re-open this, I think the updated model may have another issue:

[code]

On the other hand the Compress condition shape issue is fixed.

[2019-06-12 18:02] KeDengMS commented on #170
Thanks for testing it. I used a new converter script that generates Where op with int32, which is supported in onnxruntime 0.4.0. The model has been updated to use Where op with float and verified with onnxruntime 0.4.0.

[2019-06-12 22:02] saurabh-shandilya commented on #166
Closing this thread assuming answer is "No solution at the moment". Will look to add this in Glow. Closing this.

[2019-06-12 22:02] #166 closed

[2019-06-13 01:25] benschreiber commented on #170
I am having issues with Bidaf now. I have tried running the provided test data against onnxruntime 0.4.0, but it fails with

[code]

[2019-06-13 01:32] KeDengMS commented on #170
@benschreiber please check If you data feed is in the right shape:

context_word: [seq, 1,] of string
context_char: [seq, 1, 1, 16] of string
query_word: [seq, 1,] of string
query_char: [seq, 1, 1, 16] of string

[2019-06-13 17:02] benschreiber commented on #170
That is not what I see in the provided test data. All are of the shape:

context_word (46, 1)
context_char (10, 1)
query_word (46, 1, 1, 16)
query_char (10, 1, 1, 16)

with different values replacing 46 and 10. Is my script wrong, or is the provided data wrong?

[2019-06-13 17:27] KeDengMS commented on #170
Please check [README.md](https://github.com/onnx/models/blob/master/bidaf/README.md). context_word and context_char should have the same sequence length, which in your data is supposed to be 46. query_word and query_char should have length of 10.

[2019-06-13 18:14] benschreiber commented on #170
I know what the data should look like. But the provided test data on that same page (under the "Download (with sample test data)") link does not match. Please update the provided test data.

[2019-06-13 18:34] KeDengMS commented on #170
I see, you mean the input_0/1/2/3 is not corresponding to the input index in the model. The test data is in the form of onnx.TensorProto so it uses name to match model, instead of ordinal. The code below should work:

[code]

[2019-06-13 19:06] benschreiber commented on #170
Yes, that appears to work. Thank you. Please consider updating the instructions [here](https://github.com/onnx/models#usage-).

[2019-06-16 10:46] shbnm21 commented on #4
I am getting error on running function
np.testing.assert_almost_equal(torch_out.data.cpu().numpy(), c2_out, decimal=3)

Error is
Attribute Error :'Nonetype' object has no attribute'data'

Please help to resolve this error

[2019-06-19 07:09] pranavsharma commented on #156
@abhinavs95 did you get a chance to address this? Thanks!

[2019-06-20 09:04] imranparuk commented on #17
Hi, any update on this?

[2019-06-20 09:24] daquexian commented on #17
@imranparuk Faster R-CNN, Mask R-CNN, yolov3 and SSD has already been introduced in model zoo.

[2019-06-20 10:01] #17 closed

[2019-06-20 12:57] imranparuk commented on #17
@daquexian what about Retinanet?

[2019-06-20 13:02] imranparuk commented on #17
I am guessing you need the model to be traceable with pytorch. Currently the Retinanet model isn't traceable due to the BoxList (I'm not 100% sure of this, just looking at the issue board for the maskedrcnn bechmark project)? However if its been solved for the Faster-RCNN and Masked-RCNN, surely it shouldn't be an issue for Retinanet?

[2019-06-21 01:53] lyd911 commented on #168
@prasanthpul Sounds great, is there a timeline when this feature can be online?

[2019-06-26 10:22] dibya001 opened #172 "Pre-processing steps for most models missing"
There are no pre-processing steps mentioned for models like alexnet, googlenet, incpetion v1 and inception v2, etc. I could find the preprocessing steps for Squeezenet, vgg, mobilenet, resnet models.

Can someone let me know what are the preprocessing steps followed for these models?
Can the preprocessing steps applied to the caffe model be applied for corresponding ONNX models?

[2019-06-26 12:52] tonyzhangsky commented on #158
I have got the same issue aslam6892, do not know how to proceed.

[2019-06-28 10:04] SnowRipple commented on #17
@daquexian  I've been trying to convert RetinaNet to onnx for couple days now but without success. Is RetinaNet officially supported by ONNX now?

[2019-06-28 10:37] SnowRipple opened #173 "Add Retinanet object detection model"
RetinaNet is one of the most widely (if not the most popular) used detection model for over a year now.

Can you provide an ETA when it will be available through ONNX?

[2019-06-28 12:05] imranparuk commented on #17
@SnowRipple Doesn't seem to be the case, from the looks of things the models need to be traceable by torch jit (this doesn't guarantee it can be converted into onnx I don't think).

It has been accomplished by others for other projects as there are onnx models for papers like Faster-RCNN etc. These models make use of similar classes, however there doesn't seem to be any documentation on how to acc

[2019-06-28 12:55] SnowRipple commented on #17
@imranparuk hopefully it is just a matter of time, since most of the Detectron models are already supported, so the RetinaNet should be too.

I agree that a lot of ops that were created for the sake of other detection models can be used in RetiaNet again, however there are still ops that seem to be specific to RetinaNet only.

Personally I find it surprising that such a popular detection model is

[2019-06-28 13:42] imranparuk commented on #17
@SnowRipple Yeah, I also find it surprising that they have left it out.

Possibly our little chat here will send so many notifications the maintainers, they will rush to fix this :laughing: (at-least inform us on how we can go about doing it)

Otherwise converting myself seems out of the question, my level of understanding of the original facebook project is very limited at this point.

[2019-07-03 01:08] pranavsharma commented on #156
@abhinavs95 any update on this? Thanks!

[2019-07-03 06:57] paruliansaragi opened #174 "Can't run verification.ipynb"
`---------------------------------------------------------------------------
MXNetError                                Traceback (most recent call last)
<ipython-input-23-8d2a7481c386> in <module>()
     45     for i in range(len(ver_list)):
     46         # Compute and print validation accuracies
---> 47         acc2, std2, xnorm, embeddings_list = test(ver_list[i], model, batch_size, nfolds)

[2019-07-03 18:50] abhinavs95 commented on #156
@pranavsharma changing the spatial parameter cannot be done using the mxnet to onnx converter API as I had hoped, it requires modification of the source code. I am currently busy focussing on another project, I will provide an update when I get a chance to work on this.

[2019-07-09 04:21] nxp-xl opened #175 "How to create input_0.pb?"
Hello,

I converted some tensorflow models to ONNX format and inference them with onnx runtime, but when I using onnx_test_runner to test this model, I did not know how to create the input_0.pb and output_0.pb, so is there a document to describe this? Thanks.

[2019-07-10 04:00] #175 closed

[2019-07-10 15:25] marcelotrevisani opened #176 "Create tarballs"
Could you please create version tags? So in that way I can download from Github's tarballs?

[2019-07-10 16:55] prasanthpul commented on #176
Currently the repo primarily contains README files with links to multiple versions of models. Are you wanting to download the readmes?

[2019-07-10 16:55] #155 closed

[2019-07-11 08:34] ysh329 opened #179 "how to convert gpu onnx to cpu models"
THanks in advance

[2019-07-11 14:11] prasanthpul commented on #179
The same onnx model can run on both CPU and GPU. There is no conversion required.

[2019-07-11 23:57] prasanthpul commented on #136
Have you tried using [ONNX Runtime GPU](https://github.com/microsoft/onnxruntime) to run the model?

[2019-07-12 14:02] ysh329 commented on #179
Thanks

[2019-07-12 14:02] #179 closed

[2019-07-14 01:20] ayush1999 opened #183 "_type = 0 for emotion_ferplus model"
As I also stated in #942 , I realized that even the emotion_ferplus model has `_type` = 0 for a few attributeprotos.

cc @bddppq  Can you please have a look?

[2019-07-14 12:26] dibya001 commented on #44
Hello @ankkhedia preprocessing steps for most models like alexnet, googlenet etc. are missing. As these models are converted from Caffe/Caffe2, could the same preprocessing steps apply here? And then just BGR->RGB conversion finally?

[2019-07-15 00:56] prasanthpul commented on #27
template has been in use for some time

[2019-07-15 00:56] #27 closed

[2019-07-15 00:58] #15 closed

[2019-07-15 13:42] paulbauriegel commented on #174
Having the same issue. Just opened a issue in the mxnet repo: https://github.com/apache/incubator-mxnet/issues/15540
Maybe they know where the issues origin.

[2019-07-16 19:40] achbogga opened #184 "Pytorch MaskRCNN model conversion example request"
Hello,

I am wondering if anyone here has converted a pytorch maskrcnn model into onnx. If so, if you can provide code snippet or an end to end conversion example, that would be of great help.

Specifically, https://github.com/facebookresearch/maskrcnn-benchmark models from this repo.

Thanks a lot!

[2019-07-16 21:16] prasanthpul commented on #184
https://github.com/onnx/models/tree/master/vision/object_detection_segmentation/mask-rcnn was generated from that repo. "This model is converted from facebookresearch/maskrcnn-benchmark with modifications in repository (https://github.com/BowenBao/maskrcnn-benchmark/tree/onnx_stage)."

[2019-07-17 10:20] rahulsharma11 commented on #49
Hi, I also needed the same. Any success in getting the mobilenet-ssd onnx model?

[2019-07-17 17:01] guschmue commented on #49
opset-10 has everything needed for ssd-mobilenetv[1-2].
2 links that use it:
https://github.com/onnx/tensorflow-onnx/blob/master/tutorials/ConvertingSSDMobilenetToONNX.ipynb]
https://github.com/mlperf/inference/blob/master/v0.5/classification_and_detection/tools/ssd-mobilenet-to-onnx.sh

[2019-07-18 08:55] jinfagang opened #185 "SSD model can not convert to trt"
When convert ssd model to trt, got this:

[code]

Once I got this situation, what should I do? Even the nvOnnxParse can not parse the model does it?

[2019-07-19 06:13] ebarsoum commented on #185
Hi @jinfagang can you try to convert the model to an older version? Using https://github.com/onnx/onnx/blob/master/docs/VersionConverter.md

[2019-07-19 06:32] jinfagang commented on #185
@ebarsoum  Thanks for you reply!

I am confused here, those error messages indicates me my onnx2trt too new or the model is too new???

I build onnx2trt from onnx_tensorrt with tensorrt5.1, I thought it was the newest version.

BTW, why does the new onnx model can not convert to trt engine? Is that onnx too new or tensorrt too old? I can not quite got it......

[2019-07-19 16:35] ebarsoum commented on #185
model is too new, TRT doesn't support opset10 yet.

[2019-07-19 18:35] prasanthpul commented on #185
If you want to run the model now, you can use [ONNX Runtime](https://github.com/microsoft/onnxruntime) to run it on CPU/GPU. ONNX Runtime also integrates with TRT as an accelerator so when TRT supports it, you can start getting the benefit without changing your integration code.

[2019-07-20 02:29] jinfagang commented on #185
@prasanthpul  Thanks! Seems ONNX Runtime is an optimistic option, however, it says ONNX Runtime supports up to opset10, but from @ebarsoum  claim TensorRT  does not support opset yet. So here is my 2 question?

1. Does ONNX Runtime possibly run new SSD model ?
2. What opset does TensorRT support to and when will support as new as ONNX?

[2019-07-21 17:20] prasanthpul commented on #185
Right, ONNX Runtime supports through opset 10. SSD model has been verified to work with it.

[2019-07-22 02:44] jinfagang commented on #185
@prasanthpul  Thanks a lot!! But, since ONNX runtime has tensorrt backend, but tensorrt does not support opset10, it means ONNX runtime supports SSD **does not using tensorrt**?

Since I am mainly wanna tensorrt accelerations through ONNX Runtime so this is important.

[2019-07-23 01:16] tsutof opened #186 "Anchor Value of Tiny YOLO v2 Model"
Would you please show me the anchor values of the tiny YOLO v2 model?
I'm using the values from the Darknet tiny yolo v2 cfg:
0.57273, 0.677385, 1.87446, 2.06253, 3.33843, 5.47434, 7.88282, 3.52778, 9.77052, 9.16828
but generated bounding box by my code is too small. Because the position of bounding box generated by my code is correct, so I'm thinking that I'm using wrong anchor values. Thanks.

[2019-07-23 03:25] tsutof commented on #186
It seems that the anchor values are:
1.08,1.19,  3.42,4.41,  6.63,11.38,  9.42,5.11,  16.62,10.52
from Darknet yolov2-tiny-voc.cfg.
My small bounding boxes were needed to multiply by the grid size (32).

[2019-07-23 03:25] #186 closed

[2019-07-29 23:08] jiafatom commented on #147
@nomaddo I just updated the tiny yolov2 model, can you please try again?

[2019-07-29 23:11] jiafatom commented on #76
@issuehsu I just updated the tiny yolov2 models in model zoo, the new model does not have ImageScaler anymore, please check the models for opset 7 and 8.

[2019-07-30 00:26] snnn commented on #185
Hi @jinfagang
It works if:
1.  You are using onnxruntime python API but the python package wasn't built with tensorrt.
2.  Or, you are using onnxruntime C/C++/C# API, and not register tensorrt as a backend.

[2019-07-30 02:07] jinfagang commented on #185
@snnn  Can it call TensorRT once that layer supported by TensorRT?

[2019-07-30 04:53] snnn commented on #185
By design, yes, it will work.
OnnxRuntime is an open source project, open to public. Welcome to contribute your code and ideas to make it better!

[2019-07-30 07:50] 92ypli opened #187 "faster rcnn onnx model too complicated, cao your simplifier?"
we use the Netron tool vis the faster rcnn onnx model, but we get too complex, can your simplifier?

![image](https://user-images.githubusercontent.com/22673185/62110884-f50a7600-b2e1-11e9-8e7c-48e6034d5f02.png)

[2019-08-02 07:32] nomaddo commented on #147
Thanks. I checked all IDs of `Model.onnx` on the page of tiny_yolov2 are correct.

[2019-08-02 07:32] #147 closed

[2019-08-03 16:26] snnn commented on #183
Is the model from CNTK? @prasanthpul

[2019-08-03 16:26] snnn commented on #172
The model you mentioned were converted from caffe2.  @bddppq

[2019-08-03 16:28] snnn commented on #160
Correct. They are random generated, not real images.

[2019-08-03 16:28] #160 closed

[2019-08-04 01:34] dibya001 commented on #172
Ok so I guess I can apply the same preprocessing steps for those as caffe2.

For models like squeezenet whose preprocessing steps are mentioned,, when I am applying those preprocessing steps and running them with caffe2 backend(instead of mxnet backend as shown) I am getting pretty low accuracy. Any possible reason for it?

[2019-08-04 06:55] prasanthpul commented on #183
@snnn yes it is.

[2019-08-07 14:36] SnowRipple commented on #173
Any update? It's been over a month now..

[2019-08-08 17:16] rpaner commented on #175
Hello, I have the same question now. Is there any easy way to generate the input_0.pb and output_0.pb files from pytorch? Thanks

[2019-08-11 20:16] hros opened #192 "test failure"
running self tests `]test ONNX`, results in a single error:
`LoadError: LoadError: UndefVarError: CrossCor not defined`
The error has been reproduced on several computers with different O/S all running Julia version 1.1.1

[2019-08-11 22:04] prasanthpul commented on #192
Can you provide more info on what test or model you are running?

there isn't any Julia support I am aware of

[2019-08-12 22:46] WilliamTambellini commented on #130
cf
https://github.com/onnx/models/pull/190

[2019-08-13 23:36] hros commented on #192
the test failure is in the Julia ONNX pacakge.
sorry for the mixup. I'm opening the issue in the correct repo

[2019-08-14 07:12] wawltor opened #195 "The time cost of Detection SSD model"
I downloaded the onnx ssd model and learned some message from this model, and it is too complicated, is there any time cost report for the onnx ssd model.

[2019-08-14 17:03] prasanthpul commented on #195
@BowenBao

[2019-08-14 21:00] marcoippolito opened #196 "python3 ./arcface_inference.py cannot import name 'nms' from 'helper'"
Within the same directory I downloaded arface_service.py, mtcnn_detector.py, and the .py version of arface_inference.ipynb :

    marco@pc:~/python3venvironments/mxnet/arcface$ ls -lah
    total 368K
    drwxrwxr-x 4 marco marco 4.0K Aug 14 22:51 .
    drwxrwxr-x 3 marco marco 4.0K Aug 14 21:41 ..
    drwxrwxr-x 2 marco marco 4.0K Aug 14 21:44 .ipynb_checkpoints
    drwxrwxr-x 2 marco marco 4.0K A

[2019-08-14 23:55] RandyGaul opened #198 "Visualize Input Image for Tiny YOLOv2"
I tried opening up the test images that come with Tiny YOLOv2 just to see what the input images are, in Python. Here's the image in `test_data_set_0`.

![image](https://user-images.githubusercontent.com/1919825/63064004-0cd22480-beb4-11e9-81be-1d9c4cd36c8e.png)

Below is the code I used to save the image to disk. Would this be the correct way to load up the test data? There seems to be a stride pr

[2019-08-15 00:03] prasanthpul commented on #198
The test data for models is just some test data to validate input tensors against output tensors. It is not required to be a proper image (as a person would define it). You should try running your own image through the model.

[2019-08-15 05:14] RandyGaul commented on #198
Ended up just messing with a different net that had better documentation. My best guess it the test image was encoded as shown in the above post with an incorrect stride.

[2019-08-15 05:14] #198 closed

[2019-08-19 03:35] dibya001 opened #199 "Accuracy of VGG16 and Squeezenet Models very low"
I downloaded the VGG16 and Squeezenet Models. I used the preprocessing steps mentioned in the page and when I ran them using caffe2 backend I got pretty low accuracy as mentioned in the site.
For VGG16, I got accuracy 54.02% where as the mentioned accuracy if 72%, For Squeezenet, I got accuracy around 34% which is also way off than whatever has been mentioned in the site.
Has anyone else faced thi

[2019-08-20 06:16] Nitin286roxs commented on #143
model = onnx.load('model.onnx')
weights = model.graph.initializer
numpy_helper.to_array(weights[0])

use numpy_helper to parse raw data to numpy.

[2019-08-20 18:56] tianleiwu commented on #130
For PyTorch, example of exporting ONNX model and inference using ONNX Runtime:
   https://github.com/tianleiwu/pytorch-pretrained-BERT/blob/master/examples/run_classifier.py

The export code is like:
        torch.onnx.export(model,
                          (dummy_input0, dummy_input1, dummy_input2),
                          onnx_file,
                          input_names = ["input_ids", "input

[2019-08-23 03:19] arsdragonfly commented on #156
@abhinavs95 any update on this? onnxruntime does not (and possibly will not) support spatial==0 on its CPU provider, making tensorrt-inference-server unable to load exported models (see [here](https://github.com/microsoft/onnxruntime/pull/890)).

[2019-08-25 02:29] cuiyanx commented on #158
@aslam6892
This is mxnet issue, you have better to install mxnet 1.3.0 that will work fine.

[2019-08-27 21:00] hariharans29 opened #203 "Mask RCNN model cannot handle zero detections"
Takeaway from https://github.com/microsoft/onnxruntime/issues/1670

CC: @BowenBao

[2019-08-28 10:30] xonobo opened #204 "export SSD model to onnx"
The sample [ssd model](https://onnxzoo.blob.core.windows.net/models/opset_10/ssd/ssd.onnx) is said to be trained by [mlperf-training-ssd](https://github.com/mlperf/training/tree/edd7308f45e7bb25d32725de23a30b405484b93f/single_stage_detector/ssd). When I draw the the graph of onnx file I see these NonMaxSupression operators in the graph. The mlperf training code does not contain any NMS operator. H

[2019-08-28 10:53] xonobo commented on #185
May I ask how you export an SSD model to onnx with opset 10. I am looking for it #204.

[2019-08-28 12:41] xonobo commented on #204
I found the [link](https://github.com/BowenBao/inference/tree/master/cloud/single_stage_detector/pytorch) but still have problems to get onnx export.

This is the error I get when I call the export_to_onnx.sh:

I tried  pytorch1.2 and 1.1 but same output.

[2019-08-28 13:02] xonobo commented on #204
The [docker](https://github.com/BowenBao/inference/blob/master/cloud/single_stage_detector/Dockerfile) uses torch 1.0.1.post2 but building the shared object by setup.py resulted in this error:

[2019-08-29 07:42] xonobo commented on #204
I added a symbolic.py file to torch/onnx folder. Here is the contrent of it
[code]

Succeeded to create the onnx file. I used pytorch 1.2.0

[2019-08-29 07:42] #204 closed

[2019-09-03 14:05] monocongo opened #209 "How to train the object detection models in this repository's model zoo?"
I would like to train the [YOLOv3](https://github.com/onnx/models/blob/master/vision/object_detection_segmentation/yolov3) model from this repository's model zoo, but there is no documentation describing that process. Can anyone advise? Thanks in advance for suggestions or insight.

[2019-09-04 21:31] maxwillzq commented on #167
Where we can download update-to-date onnx model for benchmark test?

[2019-09-05 07:04] santoshchilkunda commented on #86
Facing the same issue.
While sample test cases match the reference data, the accuracy is 0.
By looking the input_*.pb, the data range seems to be 0-255 float. I set the same (i.e. no preprocessing)

[2019-09-05 07:06] santoshchilkunda opened #210 "Inception v2 accuracy is 0"
I am trying to run inference on inception_v2 onnx model. I tested all the opset versions in the model zoo. While sample test cases match the reference data, the accuracy is 0.
By looking the input_*.pb, the data range seems to be 0-255 float(i.e. no preprocessing).

Has anybody been able to get the quoted accuracy for inception_v2?

[2019-09-05 22:39] #46 closed

[2019-09-06 22:05] jinz2014 opened #211 "bidaf test data set question"
The number of input and output files are not the same for bidaf model's test data set. There are four input files and two output files.  Is this expected ?

Thanks

bidaf$ ls test_data_set_2
input_0.pb  input_1.pb  input_2.pb  input_3.pb  output_0.pb  output_1.pb

[2019-09-06 22:13] jinz2014 opened #212 "batch size is zero in tiny_yolov2 model"
I got the following error when calling the import_onnx_model function. Thanks for the instruction on the modification.

ng_function = import_onnx_model(model.SerializeToString())
RuntimeError: Check '(batch_size.is_dynamic() || static_cast<size_t>(batch_size)                                                                                                   > 0)' failed at /root/ng/src/ngraph/valida

[2019-09-09 02:50] surajkandukuri opened #213 "FER+ Emotion Recognition : Cannot Run the Model: gives Error : Negative dimension size caused by subtracting 3 from 1"
I tried to implement the FER+ Emotion Recognition model in the system with configuration
System : Ubuntu 18.04
Tensorflow- gpu : 1.14.0
Keras: 2.2.5
Python: 3.6.8

[Error in Onnx FER+.docx](https://github.com/onnx/models/files/3588474/Error.in.Onnx.FER%2B.docx)

[2019-09-09 04:05] ebarsoum commented on #213
Can you provide more details? What you mean you tried to implement FER+?

[2019-09-09 06:27] surajkandukuri commented on #213
I tried importing the file using onnx.load and then import the onnx model into tensorflow as we see in the attachment, i have also placed the code below. I get the error as we see in the attachment

import numpy as np
from PIL import Image
import os
import warnings
import onnx
from onnx_tensorflow.onnx_tf.backend import prepare

cdir=os.getcwd()
#print(cdir)
image_path='Path of the Image/1.jpg'

d

[2019-09-09 18:26] ebarsoum commented on #213
Can you open an issue to ONNX to TF converter? https://github.com/onnx/onnx-tensorflow. @chinhuang007 ?

[2019-09-09 19:04] HarryVancao opened #214 "Mask-RCNN network contains concat with one input"
After examining the Mask-RCNN onnx file obtained from the ONNX Model zoo:
https://github.com/onnx/models/tree/master/vision/object_detection_segmentation/mask-rcnn

I noticed a few structures that look like this:
Unsqueeze -> Concat -> ConstantOfShape
An example can be nodes '685' -> '686' -> '687'.

I see that there is a 'Concat' operation that only obtains one tensor. Is this necessary to the mo

[2019-09-09 23:56] WilliamTambellini opened #215 "Add a warning/note/howto about git lfs in README.md"
Dear
More and more models in this repo are managed via git LFS.

$ git lfs ls-files
1cec14b36f - text/machine_comprehension/bert-squad/model/bertsquad10.onnx.tar.gz
2a2cbf9ffc - text/machine_comprehension/bert-squad/model/bertsquad8.onnx.tar.gz
d0b97f7807 - text/machine_comprehension/bert-squad/model/download_sample_10.tar.gz
9284809bd8 - text/machine_comprehension/bert-squad/model/download_sample

[2019-09-10 00:55] WilliamTambellini opened #216 "run_onnx_squad.py fails with "Model requires 4 inputs. Input Feed contains 3""
run_onnx_squad.py from
https://github.com/onnx/models/tree/master/text/machine_comprehension/bert-squad
fails with exception:
"Model requires 4 inputs. Input Feed contains 3"

Steps to repro:
clone that repo

git lfs fetch --include=text/machine_comprehension/bert-squad/model/bertsquad10.onnx.tar.gz

wait for download

extract the real onnx file from the local git cache (could nt find a better way

[2019-09-10 02:08] jinfagang commented on #203
Oh, thank u so much!!! It's really important since if there are no detections the onnxruntime will crash.

We can do nothing to prevent this since it caused by model itself, caused onnxruntime inside segmentation fault.

[2019-09-10 03:02] pango99 opened #217 "Question about running ArcFace model on ort c api"
I download the ArcFace onnx model from https://s3.amazonaws.com/onnx-model-zoo/arcface/resnet100/resnet100.onnx, and use OnnxRunTime C API to run the model, but to my surprise,the ouput value from network is all nan, it seems there is no output from network; I check my, but I can not find any error,so I attach my code to the issue , and hope to get some help,thanks!

`
#define CHECK_STATUS(expr)

[2019-09-12 22:25] tmoreau89 opened #219 "[BERT-Squad] Which onnx file to use"
On the following README: https://github.com/onnx/models/tree/master/text/machine_comprehension/bert-squad

We can download the model and sample file tarballs for `BERT-Squad` models expressed in opset 8/10. Untaring the tarballs shows 2 `.onnx` files in each uncompressed directory. For instance, `BERT-squad` opset 8  has a `bert8.onnx` and a `bertModel.onnx` file. They have similar sizes, 43588289

[2019-09-19 16:22] mathisdon commented on #156
There are more models on the ONNX model zoo with this bug: Yolov3 and Duc are also non-usable by ONNX Runtime for the same reason. When will this be fixed?

[2019-09-19 20:34] monocongo commented on #209
To clarify, I'm interested in transfer learning, i.e. taking a pre-trained model and further training it using my custom dataset of images/annotations. I'd like to do this for the YOLO and SDD models included here.

[2019-09-19 21:08] ebarsoum commented on #209
Currently, those models and ONNX support only inference. Regarding training and transfer learning, check the training work group: https://github.com/onnx/working-groups/tree/master/training

[2019-09-19 21:49] prasanthpul commented on #156
Yolov3 is not impacted by this and has been successfully tested as-is.

Duc and ArcFace models need to be updated to a newer ONNX version. Hopefully @abhinavs95 can make the necessary modifications soon.

[2019-09-23 09:06] Mut1nyJD commented on #156
Just to reiterate on this, even on GPU backend with ONNXRuntime (v0.4 or v0.5) the current model in the repository is producing wrong results the feature vector returned from the final fc layer are always NaN.
I strongly suggest retiring this model and maybe replace it by a PyTorch version of the same thing until MXNet updates their ONNX exporter to latest specification

[2019-09-25 22:34] snnn opened #221 "onnxruntime can't run the super_resolution model"
2019-09-25 14:33:19.302285791 [E:onnxruntime:Default, runner.cc:342 RunTask] super_resolution:Invalid rank for input: input Got: 2 Expected: 4 Please fix either the inputs or the model.

[2019-09-29 15:01] 17702513221 commented on #156
@pranavsharma please tell me how to use yolov3(keras-to-onnx),I use it in tensorrt-inference-service get lots nan.

[2019-09-29 21:10] prasanthpul commented on #156
@Mut1nyJD can you contribute a replacement model please?

[2019-09-30 08:33] Mut1nyJD commented on #156
@prasanthpul

Working on it currently training a new version using a PyTorch implementation (model seems to export into ONNX in general) from scratch with Ms1m dataset, But this is going to take a while since I have it on low priority.

[2019-10-02 00:42] snnn commented on #161
#156

[2019-10-07 09:17] piotr-anyvision commented on #173
Onnx team promised to support all main detection ops before the 1.6 release, but still no example of Retinanet working even though 1.6 was released 9 days ago? A little disappointed..

[2019-10-08 02:42] yqtianust commented on #126
I got same error. Any update?

[2019-10-08 04:53] luan1412167 commented on #91
@snnn @ankkhedia I get the error. It may be same as your error. Have Any your experiment help me? Thanks
`2019-10-08 11:49:13.612837502 [E:onnxruntime:, sequential_executor.cc:165 Execute] Non-zero status code returned while running PRelu node. Name:'relu0' Status Message: /home/luandd/project_company/face_rec/onnxruntime/onnxruntime/core/providers/cpu/math/element_wise_ops.h:329 void onnxruntime:

[2019-10-08 07:41] luan1412167 commented on #90
@ankkhedia I'm facing the same error. my model is from mx to onnx. Can you give me some suggestion to fix it?
`2019-10-08 14:14:34.879614128 [E:onnxruntime:, sequential_executor.cc:165 Execute] Non-zero status code returned while running PRelu node. Name:'relu0' Status Message: /home/luandd/project_company/face_rec/onnxruntime/onnxruntime/core/providers/cpu/math/element_wise_ops.h:329 void onnxrun

[2019-10-08 17:16] BarkenBark opened #222 "YoloV3 ONNX model has non-specified input dimensions values"
### Problem:
When visualizing the YoloV3 ONNX model (https://github.com/onnx/models/tree/master/vision/object_detection_segmentation/yolov3) using Netron (https://lutzroeder.github.io/netron/), the dimensions of input_1 are given as float32[unk__576, 3, unk__577, unk__578], and the dimensions of image_shape are given as float32[unk_579, 2]. Similarly in Python, by accessing sess.get_inputs(), wher

[2019-10-08 18:26] jiafatom commented on #222
@BarkenBark We convert yolov3 model from [here](https://github.com/qqwweee/keras-yolo3/). The keras model input is (?,?,?,3) and (?,2). ? stands for unknown dimension. This is why our onnx model comes up with ['unk_576', 3, 'unk_577', 'unk_578'] for input_1 (we use "channel first"), and ['unk_579', 2] for image_shape. The symbol here means different dimension values.

We need make our onnx model b

[2019-10-09 07:34] luan1412167 commented on #156
@Mut1nyJD  Have you a runable arcface model?

[2019-10-09 07:39] BarkenBark commented on #222
I verified that the shape of the input tensor in C# is (1,3,416,416) and the shape of the image shape tensor is (1,2). The program fails with the same error.
[code]

[2019-10-09 08:34] BarkenBark commented on #222
Turns out there is a known bug in OnnxRuntime which makes it unable to handle unknown dimension sizes (see https://github.com/microsoft/onnxruntime/issues/1770).

I still think the model should be updated such that the input shapes are not unknown for the reasons stated above, but if there is no plan to do so, please feel free to close this issue.

[2019-10-09 21:57] jiafatom commented on #222
For 1), I agree there is some confusion here, but from converter point of view, the keras model itself specifies unknown dimension size, we have to make the onnx model input consistent with the keras model. For this particular yolov3 model, the input needs fixed, but when we convert the model, we don't get this information from the keras model itself.
2) Thanks for pointing out the onnxruntime bug

[2019-10-10 01:37] #222 closed

[2019-10-10 02:53] luan1412167 commented on #91
@snnn @ankkhedia have you right model with spatial=1?

[2019-10-10 13:44] Mut1nyJD commented on #156
@luan1412167

I am afraid I am stll training I have it at low priority that's why it takes time. Hopefully soon.
 I will check if an intermediate snapshot is exportable but I don't see why not.

[2019-10-10 13:52] luan1412167 commented on #156
@Mut1nyJD whether arcface from pytorch to onnx have get right result

[2019-10-11 02:14] hariharans29 commented on #156
Hi guys,

I think I finally cracked this issue. I supported non-spatial mode in ORT in this PR - https://github.com/microsoft/onnxruntime/pull/2092 but it still won't run the ArcFace model in the ONNX zoo.

This is because the ArcFace modelis an invalid ONNX model because it violates the ONNX spec (https://github.com/onnx/onnx/blob/master/docs/Changelog.md#BatchNormalization-7). It has BatchNorm n

[2019-10-11 02:27] hariharans29 commented on #161
https://github.com/microsoft/onnxruntime/pull/2092 should support non-spatial mode. But, in some cases the MxNet exporter seems to incorrectly stamp BatchNorm nodes with spatial == 0 when actually it means spatial == 1 like here - https://github.com/onnx/models/issues/156. Please make sure it is a valid case of spatial == 0 and try ORT after the relevant PR has been merged.

[2019-10-11 11:14] luan1412167 opened #223 "How to convert arcface model from mxnet to onnx with spatial batch norm=1?"
Hi, I'm not running arcface model in ONNX runtime so I can convert the model from mxnet to onnx with spatial=1( onnx runtime not support model with spatial = 0).  Can you suggest me some ways to solve it?

[2019-10-11 11:32] luan1412167 commented on #156
@hariharans29 you can try with this model [here](https://s3.amazonaws.com/onnx-model-zoo/arcface/resnet100/resnet100.tar.gz). this has spatial=0 and reshaped. I look forward to the result from you.

[2019-10-11 18:35] hariharans29 commented on #156
Hi @luan1412167 - I actually think it should be the opposite (spatial == 1).

[2019-10-11 19:29] hariharans29 commented on #156
Hi all,

I wrote a simple script to "correct" (not re-convert from base model) the ONNX model zoo ArcFace model from here - https://github.com/onnx/models/tree/master/vision/body_analysis/arcface.

This link contains the model (named resnet100.onnx) and test data. The script to correct the model is this (it is not possible to attach the corrected model as the size exceeds allowed limits)-

[code]

[2019-10-11 19:59] prasanthpul commented on #156
@abhinavs95 can you comment on @hariharans29's findings and how this can be fixed from MXNet side? If it cannot, then we should apply the correction to the downloadable model and eventually replace it with a model from another framework.

[2019-10-14 18:08] luan1412167 commented on #156
@hariharans29 I used updated_resnet100.onnx as your instruction above. Though it is run but the result seem to be wrong. Whether you can check again result model run on python and onnx runtime?

[2019-10-14 18:22] hariharans29 commented on #156
Did you use the official updated_resnet100.onnx from the link or your converted model to make the update ?

I made the update on the official model and ran the test with all 3 great cases and the results are right.

As a double confirmation, another user made the same observation that making spatial == 1 in the same model seems to work here https://github.com/Microsoft/onnxruntime/issues/831

[2019-10-14 18:32] mathisdon commented on #156
I just downloaded the arcface model again from https://github.com/onnx/models/tree/master/vision/body_analysis/arcface, using the link called "248.9 MB" in the "Download" column, and ONNX Runtime still reports the same problem:

RuntimeError: [ONNXRuntimeError] : 1 : GENERAL ERROR : Exception during initialization: D:\3\s\onnxruntime\core/providers/cpu/nn/batch_norm.h:39 onnxruntime::BatchNorm<flo

[2019-10-14 18:41] hariharans29 commented on #156
Hi @mathisdon ,

The model doesn't require spatial == 0. Can you please make the update to the model as suggested above and try running it ?

[2019-10-15 03:17] luan1412167 commented on #156
Hi @hariharans29,
I have downloaded model from model zoo and run your script to change spatial 0->1.
this is model link [here](https://drive.google.com/file/d/12UM6i1H2YUjYAgN6PqqzYFMf-G3v3up1/view?usp=sharing)
I tried with 2 different images but I get cosine distance = 0.96. So I think it is wrong( Because 2 different images must to get cosine distance of embbeding is small). Can you share script

[2019-10-15 03:48] hariharans29 commented on #156
Hi,

I did not use a script. I used the onnx test runner tool in the OnnxRuntime repo. It has the capability to consume input tensor protobufs and output tensor protobufs and compare results after tests. I downloaded the 3 test cases in the on x model zoo link (download with test data) and used the onnx test runner tool to run each test case and the output is correct.

What is the exact numerical

[2019-10-15 03:54] luan1412167 commented on #156
@hariharans29 can you check my model? [here](https://drive.google.com/file/d/12UM6i1H2YUjYAgN6PqqzYFMf-G3v3up1/view?usp=sharing)

I compute consine distance between two embbeding. if it is same person consine distance will near 1 opposite cosine distance will small and near 0.

[2019-10-15 03:57] hariharans29 commented on #156
Hi,

I think it is the exact opposite. It is cosine "distance" (not similarity). When two people are different, cosine distance will near 1 and when they are the same, the value nears 0.

[2019-10-15 04:35] luan1412167 commented on #156
Hi @hariharans29 My script for cosine similarity
`def preprocess(input_data):
    # convert the input data into the float32 input
    img_data = input_data.astype('float32')
    img_data = img_data.reshape(1, 3, 112, 112)

    #normalize
    mean_vec = np.array([0.485, 0.456, 0.406])
    stddev_vec = np.array([0.229, 0.224, 0.225])
    norm_img_data = np.zeros(img_data.shape).astype('float32')

[2019-10-25 07:01] Naveenkhasyap commented on #221
@snnn check the input image preprocessing before passing it to run method , i think you are passing (H,W) of image instead of (H,W,C,A) as it is expected.

[2019-10-27 18:27] gisiu commented on #210
I also met this problem: Got a very low accuracy. And I found that the answer file should be the original one from ILSVRC2012 develop kit.

[2019-10-28 18:27] snnn commented on #221
Hi @Naveenkhasyap, but I was using the test data provided with the model at here. Should the test data get fixed?

[2019-10-29 07:09] Naveenkhasyap commented on #221
@snnn looks like the onnx model in model folder doesn't work , I tried to run the notebook given within this repo but if i refer to the onnx model from model folder it fails to load protobuf files , so then i tried with the link given to [download the model ](https://github.com/onnx/models/blob/master/vision/super_resolution/sub_pixel_cnn_2016/model/super_resolution.onnx) loading this model in onn

[2019-10-30 22:15] vuzelac-cadence opened #229 "ShuffleNet Model wrong shape input dimension 0 for Reshape operator"
[code]

When running the model w/ multiple images at once, batch dimension of Data input will of course change. ONNX Reshape allows for that by assigning value -1 to a dimension, so that operator can infer the shape.  In this particular case shape[0] is to be -1, not 1. Same for the other Reshape after Transpose.

[2019-10-31 23:09] kkudryavtsev opened #230 "onnxruntime.InferenceSession silent error when ran in cgi python script"
I am using an optimized model (it was optimized by onnx.optimize). When I run the same script with the same model and same python manually (without apache2 cgi) it works well. When I call the same code through cgi, onnxruntime.InferenceSession silently exits, so I can see all of the debug print outs in my browser before the command, but nothing after. Also the apache2 logfile does not contain any

[2019-10-31 23:29] kkudryavtsev commented on #230
Python 3.5
onnxruntime 0.5.0

[2019-11-01 17:56] snnn commented on #230
Is the subprocess silently exited?

[2019-11-01 18:15] kkudryavtsev commented on #230
It seems the function (or constructor, I do not know what is behind) onnxruntime.InferenceSession exited from the script silently. I built onnxruntime with GPU support, tried both Release and Debug modes, but still cannot see any message anywhere what is wrong. Same model works when I run it standalone without apache2 server. Does onnruntime logs somewhere to the file? Can I enable/disable the log

[2019-11-01 18:26] snnn commented on #230
By default, it prints all the thing to cerr or clog.

[2019-11-01 18:26] snnn commented on #230
Is it possible for you to run it with gdb?

[2019-11-01 18:29] kkudryavtsev commented on #230
If you tell me how :) I did not use gdb before

[2019-11-01 18:32] kkudryavtsev commented on #230
how to catch those errors (cerr/clog) in python API?

[2019-11-01 18:47] snnn commented on #230
Could you please provide a minimal reproducible example so that I can try it on my local machine?

[2019-11-01 18:57] kkudryavtsev commented on #230
Here is the script. You would need to change the paths:

#!/var/www/webenv/bin/python
import cgi
import cgitb
import numpy as np
from os import listdir
import onnxruntime
from onnxruntime import get_device
import base64
import urllib.request
import json
import time
from PIL import Image, ImageDraw, ImageFont

cgitb.enable()

imageDir = "/home/DNN/images/"
jsonDir = "/var/www/html/json/"

def htmlT

[2019-11-01 19:04] kkudryavtsev commented on #230
[sent.zip](https://github.com/onnx/models/files/3799258/sent.zip)
Just rename the file to <anyname>.py This is not a zip file.

[2019-11-01 19:11] snnn commented on #230
Thanks, I'll try

[2019-11-04 22:44] deadeyegoodwin opened #233 "Image classification models don't support batching, batch size fixed at 1"
For example, if I look at the resnet50 model I see an input shape like this: [ 1, 3, 224, 224 ].
Why is the batch dimension fixed at 1 instead of being -1? Batching often provides large speedups when running these models so by limiting these examples to batch-size 1 you are not showing off the performance potential of ONNX (and runtimes like ONNXRuntime). Is it possible to regenerate or modify the

[2019-11-05 11:51] SiR0N opened #234 "Help tiny yolo v2"
Hello

I want to use the onnx tiny yolo v2 in Android [https://github.com/onnx/models/tree/master/vision/object_detection_segmentation/tiny_yolov2](https://github.com/onnx/models/tree/master/vision/object_detection_segmentation/tiny_yolov2)

My implementation is based on this one: [https://github.com/tensorflow/tensorflow/blob/master/tensorflow/examples/android/src/org/tensorflow/demo/TensorFlowYo

[2019-11-05 17:05] prasanthpul commented on #234
can you clarify what you are using to run the ONNX model?

[2019-11-06 09:26] SiR0N commented on #234
Hi, sorry I forgot to mention it:

I use the C API  of the runtime (with JNI) I used the mnist and fer models without problems

The flow is:
1)(Java) getFloatArrayFromResizedImage -> array
2) (Java) "send" array to C
3) (C) run  the onnx model with array -> array2
4) (C) "send" array2 to java
5) (Java) postProcess(array2)

This is the input and output info of yolo I got by the C API:

[code]
How t

[2019-11-08 20:49] snnn opened #237 "Tinyyolov3's test data is wrong"
2019-11-08 12:48:51.317577463 [E:onnxruntime:Default, runner.cc:479 RunTaskImpl] tinyyolov3:output=yolonms_layer_1:2:expect tensor(float) got tensor(int32)
2019-11-08 12:48:51.317648314 [E:onnxruntime:Default, runner.h:76 finish] tinyyolov3: type mismatch. Dataset:/data/testdata/m/opset11/tinyyolov3/test_data_set_0

[2019-11-08 20:50] snnn commented on #233
You may use tf2onnx converter and get the source models from https://github.com/tensorflow/models/tree/master/research/slim#pre-trained-models

[2019-11-08 20:56] snnn commented on #237
https://github.com/microsoft/onnxruntime/pull/2356

[2019-11-11 09:37] SiR0N commented on #234
Hi, I checked the model on python and it seems for me that the model is wrong and it has no weights.

I did on python due that I was no sure if my post/preprocessing was right and I got the same results as I had with the previous code, therefore I think that something is wrong in the model.

I did more or less the same as [here](https://github.com/simo23/tinyYOLOv2/blob/master/test.py)

but I use

[2019-11-11 14:42] SiR0N commented on #237
Hi, I also face this problem with the model at running:
`
sess = rt.InferenceSession("yolov3tiny.onnx")`

error:

[code]

[2019-11-11 16:40] deadeyegoodwin commented on #233
@snnn Thanks for the pointer. But, just to be clear, I was asking if the models in the model zoo can be updated to support batching. The model zoo is much less useful if it doesn't contain models in the format that most people want... and I think  for image classification models most people want models that support batching.

[2019-11-11 18:02] EmmaNingMS commented on #237
@jiafatom

[2019-11-11 18:06] EmmaNingMS commented on #234
@jiafatom could you help take a look?

[2019-11-11 22:39] jiafatom commented on #237
Updated the test data and checked in [here](https://github.com/onnx/models/pull/238)

[2019-11-11 22:40] #237 closed

[2019-11-11 22:40] jiafatom commented on #237
@SiR0N you are using the old onnxruntime, the error msg shows the number of input for Resize is 2, however, opset 11 has changed this. Please use onnxruntime 1.0+ to test.

[2019-11-11 22:41] snnn commented on #237
Hi @SiR0N
Which onnxruntime version were you using?

[2019-11-12 13:32] SiR0N commented on #237
hi, I upgrade it to 1.0.0 and now it "works" (I used 0.4.0 before)

Now I face another problem, it is related to the inputs.
[code]

Error:
[code]

[2019-11-12 14:52] jiafatom commented on #237
This error means that it needs a input of type float, but the data you provided is of type double, can you convert your data?

[2019-11-12 14:57] jiafatom commented on #234
Some info here: This model was converted from a Core ML version of Tiny YOLO, around 1.5 years ago.

[2019-11-12 15:04] SiR0N commented on #237
I tried that and it did not work

[code]
and they are already float:
[code]

[2019-11-12 15:37] jiafatom commented on #237
[Here](https://github.com/onnx/keras-onnx/blob/master/applications/nightly_build/test_yolov3.py) is an example that we run every day and it works fine. Choose `is_tiny_yolo=True`

[2019-11-12 17:13] prasanthpul commented on #234
@jiafatom should we update it to be directly converted instead?

[2019-11-12 19:00] EmmaNingMS commented on #234
Tiny YoloV3 has been added in the model zoo lately. @SiR0N could you try [this one](https://github.com/onnx/models/tree/master/vision/object_detection_segmentation/tiny_yolov3)?

Should we always update a model with the latest version? Not sure the old version is still urged if the latest one is ready to use.

[2019-11-12 21:39] kkudryavtsev commented on #230
Any luck?

[2019-11-12 21:41] snnn commented on #230
No findings yet.

[2019-11-14 00:23] jiafatom commented on #234
I just tested the tiny yolov2 onnx model (opset 8) with test data, and it works good for me. The model has weights, so is that possible there is something wrong with your script? In another [issue](https://github.com/onnx/models/issues/237), you also have similar problem for tinyyolov3, can you check my example there?

[2019-11-14 03:45] flazerain opened #240 "How to export the insightface mxnet model to onnx model which is same as the onnx model given to download."
I exported the insightface mxnet model with mxnet 1.5 and onnx 1.3 and I cannot build the tensor RT engine with tensorRT 6, the error is:
[TensorRT] ERROR: (Unnamed Layer* 7) [Parametric ReLU]: slope tensor must be unidirectional broadcastable to input tensor
[TensorRT] ERROR: Network must have at least one output

and I found the onnx net structure is different from the onnx model given to downlo

[2019-11-14 08:12] SiR0N commented on #234
Hi @EmmaNingMS, @jiafatom

I tried the code that @jiafatom shared with me and it worked for me (yolov3) but I would like to use the tiny yolov2 as I have already the data processing done in JAVA (as I described before).

@jiafatom  Can you share with me the tiny yolo2 implementation? There is a  (hight) chance to find something wrong in my script but I do not find it, I would say that something is

[2019-11-14 09:32] SiR0N commented on #234
I just checked the tiny yolov2 (opset 8) and did not work :(  (neither in the JAVA/C code nor Python )

[2019-11-21 01:30] tmoreau89 opened #242 "[ONNXRuntimeError] Arcface model fails during ONNX runtime session run"
**Symptom**

[Arcface](https://github.com/onnx/models/tree/master/vision/body_analysis/arcface) model from onnx model zoo doesn't run properly in ONNX runtime session run (tested in 1.0.0).

The following error message gets printed out:
[code]

**Reproducing the error**

Environment:
* ubuntu: 18.04
* onnx: 1.6.0
* onnxruntime: 1.0.0
* numpy: 1.17.4

Model:
* URL: https://s3.amazonaws.com/onnx-mod

[2019-11-21 01:31] tmoreau89 commented on #242
@abhinavs95 @jennifererwangg

[2019-11-21 01:37] tmoreau89 commented on #242
Issue reference in OnnxRuntime: https://github.com/microsoft/onnxruntime/issues/2447

[2019-11-21 01:39] hariharans29 commented on #242
Please see my comment on Oct 10 here - https://github.com/onnx/models/issues/156

[2019-11-21 01:53] tmoreau89 commented on #242
Thanks @hariharans29 ; @prasanthpul are there any plans in fixing this model so it can run out of the box without having to rely on the node attribute rewrite fix (referring to the fix proposed inn #2447 below)

[code]

[2019-11-21 17:26] prasanthpul commented on #242
This should be fixed on the MXNet side and the model re-exported.

Alternatively, do you know a non-MXNet version of this model we can replace with?

[2019-11-21 17:51] tmoreau89 commented on #242
@prasanthpul I can update the model but at this point it's hosted on an amazon bucket https://s3.amazonaws.com/onnx-model-zoo/arcface/resnet100/resnet100.onnx which I'm not sure I have write permission to in order to update.

[2019-11-21 17:52] tmoreau89 commented on #242
perhaps @abhinavs95 can provide pointers on how to update the model in the bucket

[2019-11-24 04:04] prasanthpul commented on #242
@tmoreau89 we actually are in the process of moving models to Git LFS and have done this for new models. So you can simply ignore the model in the bucket and upload new versions into Git LFS. (See the BERT model for example).

Ideally the fix has already been done on the MXnet side, and this is just re-exporting using a standard MXnet build. However, if this is going to be a manually corrected mod

[2019-11-25 05:21] tmoreau89 commented on #242
Thanks @prasanthpul ; I'll submit the PR when I have the bandwidth sometime this coming week

[2019-11-26 14:41] mathisdon opened #243 "Faster R-CNN doesn't work in ONNX Runtime"
The network tries to add two tensors with incompatible shapes: (1,256,50,67) and (1,256,50,68):

`RuntimeException: [ONNXRuntimeError] : 6 : RUNTIME_EXCEPTION : Non-zero status code returned while running Add node. Name:'419' Status Message: C:\agent\_work\20\s\onnxruntime\core/providers/cpu/math/element_wise_ops.h:339 onnxruntime::BroadcastIterator::Init axis == 1 || axis == largest was false. At

[2019-11-26 19:48] alrevuelta opened #244 "MNIST dimensions"
Hi, I'm implementing a dependancy free + pure C backend for ONNX and the first model that I'm running is the MNIST provided in [this repository](https://github.com/onnx/models/tree/master/vision/classification/mnist)

I have some questions regarding the dimensions. Please, find attached a screenshoot from `netron` visualizer:
- Input to `Conv` is 1x1x28x28, fair enough thats the image that is bein

[2019-12-02 09:57] Rapternmn commented on #155
Check My repo for Yolov3 - Onnx Conversion
https://github.com/Rapternmn/PyTorch-Onnx-Tensorrt

[2019-12-10 16:17] collinlee opened #245 "Equivalent for convert np.array input from PILImage to Tensor input in Java"
I have successfully converted the emotion_ferplux.onnx model to a Tensorflow protobuf file and am trying to execute the model in java.  In the python examples we have a code snippet:

[code]

to create the [1,1,64,64] input for the onnx model.  From what I've been able to find over on the Java side in Tensorflow, there's something like this code snippet mentioned in the link here

[https://github.

[2019-12-12 07:52] xiaoga501 opened #246 "tensorRT5.1.5 parse yolov3.onnx occurs error"
i download yolov3.onnx from this site: https://github.com/onnx/models/tree/master/vision/object_detection_segmentation/yolov3
I run tensorRT5.1.5 samples and modified sample_onnx_mnist  to parse the yolov3.onnx, but occurs error below:
[code]

Please give some advice for this problem and thanks very much.

[2019-12-16 09:10] sky186 commented on #91
@ankkhedia
hello , arcface mxnet to onnx canbe fixed?
how to convert onnx ,is right?
the prelu out not right? because Iwant to convert caffe,but the onnx can be export but is not right?

[2019-12-16 09:12] sky186 commented on #91
@luan1412167
hi, now youcan convert mxnet arcface to onnx right ?   I fix ,but export model prelu out not right,not to equal mxnet,could you tell me how to convert onnx right ?

[2019-12-16 13:15] leewea commented on #156
![Snipaste_2019-12-16_21-12-44](https://user-images.githubusercontent.com/20851491/70909780-2396ac80-2049-11ea-8f8c-b54bef3b43f6.png)
can you tell me  how to  reshape it? thank you

[2019-12-16 13:20] leewea commented on #156
![Snipaste_2019-12-16_21-12-44](https://user-images.githubusercontent.com/20851491/70910038-d6ffa100-2049-11ea-9f51-b37e2a8245ac.png)

can you tell me how to reshape it ? thank you

[2019-12-16 14:40] leewea commented on #156
can you tell me how to reshape it? thank you

[2019-12-17 02:52] sky186 commented on #240
@flazerain
Hi you can convert arcface model to onnx right ?, I convert .,but prelu layer out is error

[2019-12-17 02:54] sky186 commented on #83
@lupesko
Hi ,how convert arcface model to onnx model right? The onnx prelu out is not right?,how to add prelu ?

[2019-12-19 06:22] huang229 opened #247 "What should I do if my model has multiple inputs and multiple outputs?"
I load the model on the C + + side. I followed the tutorial to run the sample Minist you provided.
This is an interface to run the model:
inline void Session::Run(const RunOptions& run_options, const char* const* input_names, const Value* input_values, size_t input_count, const char* const* output_names, Value* output_values, size_t output_count)

But my model has multiple inputs and multiple outp

[2019-12-19 10:13] flazerain commented on #240
yes,but it is different from the model zoo 's model(it has reshape before prelu)

[2019-12-23 06:53] #247 closed

[2019-12-24 10:38] yutimetha commented on #222
can any one share enitre code for loading  Yolov3 onnx model using Machine learning dot net model?
i am getting error is "Parameter name: Dimension { } in ONNX tensor cannot exceed the maximum of 32-bit signed integer."

please its too urgent

[2019-12-26 12:35] yutimetha commented on #222
Can any one have code snippet for performing Object detection in Dot net using yolov3 Onnx model?

[2019-12-26 12:36] yutimetha opened #248 "can any one share entire code for loading Yolov3 onnx model using Machine learning dot net model?"
can any one share enitre code for loading  Yolov3 onnx model using Machine learning dot net model?
i am getting error is "Parameter name: Dimension { } in ONNX tensor cannot exceed the maximum of 32-bit signed integer."

please its too urgent

_Originally posted by @yutimetha in https://github.com/onnx/models/issues/222#issuecomment-568720141_

[2019-12-26 17:36] gvashishtha commented on #222
@yutimetha there is an example in the comments of this blog post where the Yolov3 model was used: https://devblogs.microsoft.com/dotnet/announcing-ml-net-1-4-global-availability-machine-learning-for-net/#comment-4034

I also found this issue: https://github.com/dotnet/machinelearning/issues/4239 where someone had a similar problem to yours.

If the above examples are not helpful, please create an

[2019-12-30 10:53] yutimetha commented on #222
@gvashishtha  thanks for your reply. I tried with the same link but not got success there is an issue with input and output parameter and any how i an not getting any clue for this.

[2020-01-06 00:06] azuryl commented on #17
@houseroad  do you have Retinanet   onnx

[2020-01-16 08:08] yywbxgl commented on #210
I test all of the Classification model, ans only the inception v2 model was problematic.
Has anyone solved this problem ？

[2020-01-20 15:52] patmaasridharan opened #249 "Runtime error on Inference session Unet model converted from Pytorch"
I have a custom UNet in pytorch and exported it to onnx model. That worked fine. On calling inference , there is problem with the optimizer. Below is the output.

 [W:onnxruntime:, graph.cc:2412 CleanUnusedInitializers] Removing initializer 'up1.trans_conv.bias'. It is not used by any node and should be removed from the model.
[W:onnxruntime:, graph.cc:2412 CleanUnusedInitializers] Removing initia

[2020-01-21 17:12] prasanthpul commented on #243
can you file this in https://github.com/microsoft/onnxruntime/issues so the right folks can take a look?

[2020-01-21 17:12] #243 closed

[2020-01-21 17:13] prasanthpul commented on #221
is this still an issue?

[2020-01-21 17:15] prasanthpul commented on #249
Can you file this in https://github.com/microsoft/onnxruntime/issues so that the right folks can take a look?

[2020-01-21 17:15] #249 closed

[2020-01-21 21:52] vinitra commented on #244
Hi @alrevuelta, sorry for the late reply. If you take a look at the weight values being passed into the convolution, it becomes a bit more clear. We know [5x5] is the kernel shape of each convolution, but there are 8 different filters.

![alt text](https://www.cntk.ai/jup/cntk103d_conv2d_final.gif)

[2020-01-21 22:03] vinitra commented on #244
Hi @alrevuelta, sorry for the late reply. If you take a look at the weight values being passed into the convolution, it becomes a bit more clear. We know [5x5] is the kernel shape of each convolutional filter, but there are 8 different filters of [5x5] each, which means the conv output will have 8 different output sub-layers. The reason it's 1 x 8 x 28 x 28 instead of 1 x 8 x 5 x 5 is because of t

[2020-01-21 22:03] #244 closed

[2020-01-21 22:19] vinitra commented on #248
@yutimetha, apologies for the late reply. It looks like @gvashishtha addressed your comments in the original thread: https://github.com/onnx/models/issues/222#issuecomment-569098911

I would recommend opening an issue in the ML.NET repository as it might be a runtime specific error -- we've seen this YoloV3 model work using onnxruntime, pytorch, and other frameworks. https://github.com/dotnet/mach

[2020-01-21 22:19] #248 closed

[2020-01-22 00:08] vinitra commented on #221
https://github.com/onnx/models/pull/228 -> should resolve this issue.

[2020-01-22 00:10] vinitra commented on #215
Thanks for the feedback @WilliamTambellini. We're planning to move all our models to git LFS for standardization. We will make sure to address these concerns in the README.

[2020-01-22 00:16] vinitra commented on #216
In https://github.com/onnx/models/pull/232#issuecomment-549672816, @KeDengMS mentioned a possible fix that he had implemented as follows:
[code]

[2020-01-27 14:06] santhoshkolloju opened #251 "GPT-2 export with token_type_ids fails"
/Users/a617341/Desktop/Desktop/GPT-2/pytorch_pretrained_bert/modeling_gpt2.py:244: TracerWarning: Converting a tensor to a Python float might cause the trace to be incorrect. We can't record the data flow of Python values, so this value will be treated as a constant in the future. This means that the trace might not generalize to other inputs!
  w = w / math.sqrt(v.size(-1))
/Users/a617341/Desktop

[2020-01-27 18:50] prasanthpul commented on #251
Since this is specific to PyTorch, can you file this issue at https://github.com/pytorch/pytorch? @spandantiwari as fyi

[2020-01-27 18:50] #251 closed

[2020-01-28 06:45] santhoshkolloju opened #253 "GPT-2 Generate multiple words using past"
ort_inputs = dict((sess.get_inputs()[i].name, np.expand_dims(input, 0)) for i, input in enumerate(inputs))
res = sess.run(None, ort_inputs)
In pytorch i iterate over a for loop to generate the multiple words.How can the same be done with onnxruntime.

[2020-02-01 17:16] lefromage commented on #216
now the error is

NodeArg(name='segment_ids:0', type='tensor(int64)', shape=['unk__493', 256])
NodeArg(name='input_mask:0', type='tensor(int64)', shape=['unk__494', 256])
NodeArg(name='input_ids:0', type='tensor(int64)', shape=['unk__495', 256])
at 100 0.015084990309551358sec per item
at 200 0.007544085942208767sec per item
at 300 0.009093221391861637sec per item
at 400 0.0068210667744278905sec pe

[2020-02-05 19:09] Pavel-Konarik opened #255 "Resnet batch prediction"
My apologies if I am missing something obvious.
I wanted to classify batch of 10 images using resnet34v2.onnx downloaded [here].(https://github.com/onnx/models/tree/master/vision/classification/resnet)
I have simplified the example so instead of images lets classify zeros.
[code]
The error produced.
[code]
From [this post](https://github.com/onnx/sklearn-onnx/issues/312) I gathered that you can sp

[2020-02-22 01:53] mustafakasap opened #257 "Data type error"
In the pre-processing sample code snippet:
[code]

image size variable type is set to int32 as:

[code]

But tiny Yolo V3 model's input data types are float32. Above (current sample) code gives following error:

[code]

Correct sample code should be:

[code]

[2020-02-23 13:09] leejaymin opened #258 "YOLO v2 link does not open."
Recently, Yolo-v2 model was uploaded. But the link does not open.
Is there anyone who can download this model?

[2020-02-23 17:04] prasanthpul commented on #258
How did you download it? Many of our models are storing in Git LFS. If you are using the command line, you'll need to make sure Git LFS is installed. If you are using browser, you can go to https://github.com/onnx/models/blob/master/vision/object_detection_segmentation/yolov2/model/yolov2.onnx and click Download

[2020-02-24 10:28] siorpaes opened #259 "Shufflenet V2 broken link"
Shufflenet V2 model link

[shufflenet_v2](https://github.com/onnx/models/blob/master/vision/classification/shufflenet_v2/model/model.zip
)

leads to non-existent page.

[2020-02-24 11:59] leejaymin commented on #258
@prasanthpul Thank you for letting me know the download method. Finally, I got the model of Yolo-v2. However, I think that this model is not correct because Reoge layer is represented by 4 maxpool layers in ONNX format. For verification, I ran this model with onnx_runtime. However, output tensor is not transformed into proper boundings box and probabilities.

I would like to know whether this mode

[2020-02-24 15:22] prasanthpul commented on #259
thanks. the link on the readme was pointing to model.zip but its actually model.tar.gz

[2020-02-24 15:22] #259 closed

[2020-02-24 15:25] prasanthpul commented on #258
@doughtmw

[2020-02-24 16:55] doughtmw commented on #258
The YOLOv2 model has the same output format as the [TinyYOLOv2 model](https://github.com/onnx/models/tree/master/vision/object_detection_segmentation/tiny_yolov2) in this repo. It is designed that way to allow for compatibility with ONNX opsets 7, 8.

The input tensor `(3 x 416 x 416)` is formatted to an output tensor `(425 x 13 x 13)` which then requires further processing to extract bounding box

[2020-02-25 01:38] leejaymin commented on #258
@doughtmw Thank you for the quick response and kind guidance. As you mentioned, I took account of further processing to extract the right bounding boxes. In my case, onnx runtime and [yolov2-pytorch](https://github.com/marvis/pytorch-yolo2) are used. After post-processing, I did not get any bounding boxes with your model.

Unlike your model, if I use the original darknet model and CFG, I got the c

[2020-02-25 13:52] doughtmw commented on #258
That's strange that the model isn't working in your setup. I've been using it in the Windows ML API, tested it in CoreML and Keras, and haven't had any issues with detection or proper bounding box outputs.

As you mentioned, the `reorg` layer isn't well represented in ONNX opset 7 or 8; however, I was able to remove the `reorg` layer and replace it with several `maxpool` layers as suggested in [th

[2020-02-26 14:44] adizhol opened #262 "maskrcnn-benchmark DeformConvFunction layer (dcn) support for onnx?"
Hi,
has anyone tried exporting DeformConvFunction layer (dcn) to onnx?

[2020-02-28 16:58] LapshinA opened #263 "Invalid padding in last AveragePooling node for inception_v1 model"
Strides : 1, 1
Padding : 0, 0, 1, 1
Kernel_shape: 7, 7

If input is [1, 1024, 7, 7]
After AvgPolling - we have [1, 1024, 2, 2]
Then Reshape - [1024, 1] - It's imposibble.

In inception_v2 model version padding is correct.

[2020-02-29 14:06] buttonman opened #264 "Can't load Yolov2 onnx model on onnxruntime (0.5.0)"
I try to load yolov2 onnx model on onnxruntime (version:0.5.0)

following error occurs

RuntimeError: [ONNXRuntimeError] : 7 : INVALID_PROTOBUF : Load model from /Users/button/Tests/models/vision/object_detection_segmentation/yolov2/model/yolov2.onnx failed:Protobuf parsing failed.

I can load Yolov3 and tiny yolov2 without any error

only yolov2 has problem.

[2020-03-02 13:47] LapshinA opened #265 "Inception v1 avd v2 return invalid class by comparison VGG family"
I compared output inception v1 and v2 models with VGG:

D:\\vgg16.onnx - https://github.com/onnx/models/tree/master/vision/classification/vgg)
D:\\vgg19.onnx - https://github.com/onnx/models/tree/master/vision/classification/vgg
D:\\model_vgg19_8.onnx -https://s3.amazonaws.com/download.onnx/models/opset_8/vgg19.tar.gz
D:\\model18.onnx  - https://s3.amazonaws.com/download.onnx/models/opset_8/incept

[2020-03-02 13:48] LapshinA commented on #265
![beagle_162](https://user-images.githubusercontent.com/5502685/75681930-9d801e80-5ca5-11ea-954c-864565e1d53b.jpg)
![Shih-Tzu_155](https://user-images.githubusercontent.com/5502685/75681935-9fe27880-5ca5-11ea-8075-d347c22d85ac.jpeg)
![Tiger_beetle_300](https://user-images.githubusercontent.com/5502685/75681942-a1ac3c00-5ca5-11ea-888e-adadad6230ba.jpeg)

[2020-03-03 05:38] Dhanashri-Dhanashri opened #266 "InvalidArgument: [ONNXRuntimeError] : 2 : INVALID_ARGUMENT : Invalid Feed Input Name:input:0"
Downloaded the Faster RCNN model from the onnx model zoo. Getting the above mentioned error as I am not able to identify the signature of the input to be given while creating a session.

[2020-03-04 00:40] hoaquocphan commented on #248
Hi @vinitra

Could you share me the sample CPP code to load Yolov3 to onnxruntime?

Thanks.

[2020-03-04 03:32] hoaquocphan opened #267 "CPP source code to run tinyYolo V3 on onnxruntime"
Hi All,

Currently, I'm port tiny Yolo v3 on onnxruntime on CPP code.
the sample code of Preprocessing/Postprocessing  steps in python, but i'm not familiar with this language.
So could anyone share me the sample Preprocessing/Postprocessing  steps in C/CPP

Thanks

[2020-03-04 04:52] hoaquocphan opened #268 "Invalid Output Name:grid"
Hello All,

I would like to report an issue when porting tiny yolo v3 to onnxruntime.

I define the model out as below:
std::string model_out= "grid";

When the code run to below line:
CheckStatus(g_ort->Run(session, NULL, input_node_names.data(), (const OrtValue* const*)&input_tensor, 1, output_node_names.data(), 1, &output_tensor));

it appear error as below:
Invalid Output Name:grid

So there a

[2020-03-05 04:16] hoaquocphan commented on #268
Hi All,

Could anyone please help me.

Thanks

[2020-03-05 12:57] leejaymin commented on #264
@buttonman yolo-v2 model could be loaded with onnxruntime 1.0 version.

[2020-03-05 13:35] leejaymin commented on #258
@doughtmw Thank you for your thorough explanation. For a few days, I ran your model. I reveal strange points as follows.
First, the output tensor in the last layer (13x13x425) is quite different to the reference output from Darknet.
![image](https://user-images.githubusercontent.com/1924507/75985361-881e2500-5f2f-11ea-8090-a9184d0392fa.png)
Due to this point, in my case, bounding boxes that are pr

[2020-03-05 14:11] doughtmw commented on #258
@leejaymin thanks for the information and your helpful comments! I will double-check and ensure that the model is properly formatted with the same weights as the Darknet model on my end.

[2020-03-06 18:31] doughtmw commented on #258
@leejaymin I added a new [PR](https://github.com/onnx/models/pull/269) with an updated ONNX model that uses the original Darknet VOC weights for creation. Let me know if it works better for you!

[2020-03-09 19:35] #221 closed

[2020-03-09 19:48] vinitra commented on #264
Recent update to the YoloV2 model in PR #269 might address the issue you're seeing as well.

[2020-03-09 21:47] vinitra opened #271 "Migrate all models to Git LFS, deprecate individual links"
For onnx models in the model zoo that are currently represented by download links, add git LFS representations.

Instructions:

-  [Example PR for Git LFS Migration (Emotion FER+)](https://github.com/onnx/models/pull/278)
-  Navigate to github page and download model from links on github page
-  Create a model folder (for the .onnx files, the .tar.gz files)
        - If there are only .tar.gz file

[2020-03-10 04:47] buttonman commented on #264
ok, thanks!

[2020-03-10 23:02] #264 closed

[2020-03-10 23:08] vinitra commented on #219
This is currently resolved, as there is currently only one onnx model in each of the tar.gz files. Please re-open if you're facing this issue in the future.

[2020-03-10 23:08] #219 closed

[2020-03-11 02:00] kunmingho commented on #216
Fixed several issues in run_onnx_squad.py. You can give it a try.
[run_onnx_squad.py.gz](https://github.com/onnx/models/files/4315641/run_onnx_squad.py.gz)

[2020-03-11 04:58] Dhanashri-Dhanashri opened #277 "Does onnx conversion has support for any kind of models? Only Deep Learning models or Machine Learning models too?"
In the model zoo, Ive found only those models that takes input an image. So my question is, is there support for models that takes numerical data as input?

[2020-03-11 12:02] hoaquocphan commented on #268
Found the root cause

[2020-03-11 12:02] #268 closed

[2020-03-11 17:50] vinitra commented on #277
Hi @Dhanashri-Dhanashri! We support all kinds of models, from those with image input data, to text input data, to numerical input data. ONNX supports both [traditional machine learning](https://github.com/onnx/onnx/blob/master/docs/Operators-ml.md) and [deep learning](https://github.com/onnx/onnx/blob/master/docs/Operators.md) operators.

We unfortunately do not have many offerings with numerical

[2020-03-11 17:50] #277 closed

[2020-03-11 21:25] #258 closed

[2020-03-11 22:51] vinitra commented on #265
Thank you for the detailed report and the relevant replication code. It looks like the discrepancy is in preprocessing of the image data. With your code above, I am able to replicate the results you see. However, the Inception models do not require pre-processing normalization steps for the input image data. Removing normalization, I see the following results.

$ python test.py

Image size:  (224,

[2020-03-12 07:34] ChiaraXian commented on #271
Sorry to bother you. I tried command git lfs pull --include="*" --exclude="" to download all onnx models. However, I couldn't find any onnx classification model. So I only could get onnx classification models from download links?

Thank you for your help!

[2020-03-12 19:45] vinitra commented on #271
Hi @ChiaraXian -- this migration to LFS is currently in progress and has not yet been fully completed. Therefore, only the subset of models which have already been moved to LFS will be available with the following command. For now, please use the download links!

[2020-03-12 19:49] #265 closed

[2020-03-12 19:50] vinitra commented on #265
Please feel free to reopen this issue if you're still having trouble!

[2020-03-12 21:23] vinitra commented on #263
Hello @LapshinA. In the model you mention in the description, Inception V2, I'm seeing padding 0, 0, 0, 0, which makes sense for the reshape scenario you're referencing. [1, 1024, 7, 7] with a kernel shape of [7, 7] provides one avg pooling value for each kernel -> [1, 1024]

![image](https://user-images.githubusercontent.com/10929090/76561747-2a269b80-6461-11ea-871b-a273d0c82f19.png)

Are you ref

[2020-03-13 07:20] LapshinA commented on #263
Hello,
I mean inception v1. Link: https://s3.amazonaws.com/download.onnx/models/opset_8/inception_v1.tar.gz

[2020-03-13 07:27] LapshinA commented on #263
inception v2 - has no problem here.

[2020-03-17 11:59] LapshinA commented on #263
But inference of inception v1 works fine, issue can be closed.

[2020-03-18 08:06] HoangTienDuc commented on #91
hi @ankkhedia  @snnn i also try to convert arcface LResNet100E-IR [mxnet](https://github.com/deepinsight/insightface/wiki/Model-Zoo) to onnx by using [convert_onnx.py](https://github.com/deepinsight/insightface/tree/master/deploy). Then, it seem that, i got the same error with @snnn when i deploy my model.
[code]
Can you guide me how to fix it?
Thank all off u.

[2020-03-18 08:18] HoangTienDuc commented on #240
hi @sky186  @flazerain
have you fixed problem above?
 i also try to convert arcface LResNet100E-IR [mxnet](https://github.com/deepinsight/insightface/wiki/Model-Zoo) to onnx by using [convert_onnx.py](https://github.com/deepinsight/insightface/tree/master/deploy). Then, it seem that, i got error with PRelu  when i deploy my model.
[code]
Can you guide me how to fix it?
Thank all off u.

[2020-03-18 17:23] snnn commented on #91
see #17711

@vinitra is fixing it.

[2020-03-19 08:58] HoangTienDuc opened #279 "make and add node to onnx model"
![Screenshot from 2020-03-19 15-10-22](https://user-images.githubusercontent.com/53229746/77045481-daf9e100-69f3-11ea-85ca-48a9a4d83beb.png)

after convert arcface mxnet to onnx model, i got an error with PRelu node.
[code]
If PRelu nodes are added reshape node (right of image), it work.
Does anyone know how to add these nodes?

[2020-03-20 02:01] nan-wang opened #280 "typo in README.md"
``pip install git lfs`` -> ``pip install git-lfs``

[2020-03-20 22:54] #280 closed

[2020-03-20 22:54] vinitra commented on #280
Thanks for catching the typo!

[2020-03-23 14:40] rit7897 opened #284 "SSD ONNX Model not able to pass onnx_tf.backend.prepare"
Hi the ssd onnx model is thowing out error of ValueError: None values not supported, when i ran onnx_tf.backend.prepare.
please help me out
![Screenshot from 2020-03-23 20-09-28](https://user-images.githubusercontent.com/15844690/77328209-3dc7e100-6d42-11ea-9466-c0e207bb335d.png)

[2020-03-24 19:21] davdu31 opened #285 "Yolov2-COCO"
Hello,

When I run [Yolov2-Coco](https://github.com/onnx/models/tree/master/vision/object_detection_segmentation/yolov2-coco) model in C# with ML.net I get unlikely results. I use the same [algorithm](https://github.com/dotnet/machinelearning-samples/tree/master/samples/csharp/end-to-end-apps/ObjectDetection-Onnx) for Yolov2 and Yolov2-Coco and with Yolov2 the results are great. Why the boxes and

[2020-03-25 01:49] hoaquocphan commented on #234
Hi @SiR0N

I completed Tiny yolov2 [here](https://github.com/hoaquocphan/Tiny_Yolo_v2), so could you share me the tiny yolov3 for reference.

Thanks

[2020-03-25 22:34] #263 closed

[2020-03-25 22:35] vinitra commented on #285
https://github.com/onnx/models/pull/274

@leejaymin

[2020-03-25 22:51] #215 closed

[2020-03-26 01:48] hoaquocphan opened #286 "difference between yolo3.weights and yolo3.onnx"
Hi all,

I'm porting [yolov3](https://github.com/onnx/models/tree/master/vision/object_detection_segmentation/yolov3) to onnxruntime by code C.

I see that the Pre/Post processing steps in the guide of  [onnx/yolov3](https://github.com/onnx/models/tree/master/vision/object_detection_segmentation/yolov3) same as python code in [experiencor/keras-yolo3](https://github.com/experiencor/keras-yolo3)  (

[2020-03-26 17:43] #285 closed

[2020-03-28 00:00] vinitra commented on #271
Text models complete, working on vision models.

[2020-04-01 12:30] wangxiang2713 opened #287 "Fail to run the onnx demo"
I try to run the onnx demo:
https://github.com/onnx/models/blob/master/vision/classification/imagenet_inference.ipynb
with model squeezenet, but i got error:
[code]

I find the input node name is data, what should i do?

[2020-04-01 12:46] wangxiang2713 commented on #287
I succeed run the code by changing code
[code]
to
[code]
However, i get result:
[code]

[2020-04-06 21:26] vinitra opened #288 "Deprecate MD5 checksums"
As we move towards Git LFS for model storage (#271), checksums no longer become necessary as the models are stored within the repo itself.

[2020-04-07 22:08] #288 closed

[2020-04-08 09:41] #286 closed

[2020-04-09 09:13] hoaquocphan opened #291 "How to get objects scores from output in Yolov3"
Hi All,

I'm porting [Yolo v3](https://github.com/onnx/models/tree/master/vision/object_detection_segmentation/tiny_yolov3) on [onnxruntime ](https://github.com/microsoft/onnxruntime/tree/rel-1.0.0) by C code.

The model run successfully and have 3 output as defined in  [Yolo v3](https://github.com/onnx/models/tree/master/vision/object_detection_segmentation/tiny_yolov3)
[boxes:](https://github.co

[2020-04-13 10:27] hoaquocphan commented on #291
complete by myself

[2020-04-13 10:27] #291 closed

[2020-04-14 19:42] prasanthpul commented on #284
The model should work on ONNX Runtime. Have you tried it? https://github.com/microsoft/onnxruntime

Moving this issue to onnx-tensorflow repo since this seems like an issue with the converter rather than the model